<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>graVITas | Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="/images/favicon-96x96.png" rel="icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower/materialize/dist/css/materialize.min.css" rel="stylesheet">
    <link href="/stylesheets/gallery2.css" rel="stylesheet">
</head>
<body>
    <nav class="center"><h3>graVITas' 16</h3></nav>
    <div class="row">
        <div class="col l6 m6 s6">
            <h4 class="right heading" id="previous"><a href="#">PREVIOUS</a></h4>
        </div>
        <div class="col l6 m6 s6">
            <h4 class="left heading" id="events"><a href="#">EVENTS</a></h4>
        </div>
    </div>
    <div id="back" style="display: none"><i class="material-icons">undo</i></div>
    <div class="row">
        <div class="col l6 m6 s12" id="images">
        </div>
        <div class="col l6 m6 s12" id="large">

        </div>
    </div>
</body>


<script src="/bower/jquery/dist/jquery.js"></script>
<script src="/bower/materialize/dist/js/materialize.min.js"></script>
<script src="/javascripts/gallery2.js"></script>

</html>