<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/swipebox.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">


</head>
<body>
<div class="container-fluid">
    <br>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="http://res.cloudinary.com/events-gravitas/image/upload/v1444243732/prev/random6.jpg"
                     width="460" height="345">

                <div class="carousel-caption">
                    <h2>Design</h2>
                </div>
            </div>
            <div class="item">
                <img src="http://res.cloudinary.com/events-gravitas/image/upload/v1444243746/prev/viaropes.jpg"
                     width="460" height="345">

                <div class="carousel-caption">
                    <h2>Create</h2>
                </div>
            </div>
            <div class="item">
                <img src="http://res.cloudinary.com/events-gravitas/image/upload/v1444243737/prev/robostacle1.jpg"
                     width="460" height="345">

                <div class="carousel-caption">
                    <h2>Patent</h2>
                </div>
            </div>

        </div>
        <div class="logo">graVITas'2015</div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="item"></div>
<nav class="navbar navbar-inverse" id="nav">
    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav">
                <li id="all"><a href="#nav">All</a></li>
                <li id="previous"><a href="#nav">Previous</a></li>
                <li id="events"><a href="#nav">Events</a></li>
                <li id="organisers"><a href="#nav">Organisers</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="gal" class="container">
    <div id=" swipebox-bottom-bar">
        <div id="swipebox-arrows">
            <a id="swipebox-prev" style="background-image: url(/images/icons.svg)"></a>
            <a id="swipebox-next" style="background-image: url(/images/icons.svg);" class="disabled"></a>
        </div>
    </div>
    <a id="swipebox-close" style="background-image: url(/images/icons.svg);"></a>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="/javascripts/jquery.swipebox.min.js"></script>
<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    (function ($) {

        $('.swipebox').swipebox({
            useCSS: true, // false will force the use of jQuery for animations
            useSVG: true, // false to force the use of png for buttons
            initialIndexOnArray: 0, // which image index to init when a array is passed
            hideCloseButtonOnMobile: false, // true will hide the close button on mobile devices
            hideBarsDelay: 3000, // delay before hiding bars on desktop
            videoMaxWidth: 1140, // videos max width
            beforeOpen: function () {
            }, // called before opening
            afterOpen: null, // called after opening
            afterClose: function () {
            }, // called after closing
            loopAtEnd: false // true will return to the first image after the last image is reached
        });

    })(jQuery);

</script>
<script src="/bower/jquery/dist/jquery.min.js"></script>
<script src="/javascripts/gall.js"></script>
</body>
</html>