<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>graVITas|Home</title>
    <script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
    <link href="/stylesheets/home.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--<div id="about1">
    <p> this is about page</p>
</div>
<div id="guests1">
    <p>this is guest page</p>
</div>
<div id="events1">
    <p>this is events page.</p>
</div>
<div id="schedule1">
    <p>this is schedule page.</p>
</div>
<div id="register1">
    <p>this is register page</p>
</div>
<div id="sponsors1">
    <p>this is sponsors page.</p>
</div>
<div id="tg1">
    <p>this is team gravitas</p>
</div>
<div id="cpg1">
    <p>contact past gravitas people</p>
</div>-->
<div id="home1">
<svg viewBox="0 0 800 600">
    <symbol id="s-text">
        <text text-anchor="middle"
              x="50%"
              y="35%"
              class="text--line"
                >
            graVITas
        </text>
        <text text-anchor="middle"
              x="50%"
              y="68%"
              class="text--line2"
                >
            2016
        </text>

    </symbol>

    <g class="g-ants">
        <use xlink:href="#s-text"
             class="text-copy"></use>
        <use xlink:href="#s-text"
             class="text-copy"></use>
        <use xlink:href="#s-text"
             class="text-copy"></use>
        <use xlink:href="#s-text"
             class="text-copy"></use>
        <use xlink:href="#s-text"
             class="text-copy"></use>
    </g>


</svg>
</div>

<div class="dock" id="dock2">
    <div class="dock-container2">
        <a class="dock-item2" href="#" id="home"><span>HOME</span><img src="/images/home.png" alt="home" /></a>
        <a class="dock-item2" href="#" id="about"><span>ABOUT</span><img src="/images/about.png" alt="contact" /></a>
        <a class="dock-item2" href="#" id="guests"><span>GUESTS</span><img src="/images/guests.png" alt="portfolio" /></a>
        <a class="dock-item2" href="#" id="events"><span>EVENTS</span><img src="/images/events.png" alt="events" /></a>
        <a class="dock-item2" href="#" id="schedule"><span>SCHEDULE</span><img src="/images/schedule.png" alt="schedule" /></a>
        <a class="dock-item2" href="#" id="register"><span>REGISTER</span><img src="/images/register.png" alt="register" /></a>
        <a class="dock-item2" href="#" id="sponsors"><span>SPONSORS</span><img src="/images/sponsors.png" alt="sponsors" /></a>
        <a class="dock-item2" href="#" id="tg"><span>TEAM GRAVITAS</span><img src="/images/tg.png" alt="links" /></a>
        <a class="dock-item2" href="#" id="cpg"><span>CONTACT PAST GRAVITAS</span><img src="/images/cpg.png" alt="rss" /></a>

    </div>
</div>

<!--dock menu JS options -->

<script type="text/javascript">

    $(document).ready(
            function()
            {
                $('#dock').Fisheye(
                        {
                            maxWidth: 50,
                            items: 'a',
                            itemsText: 'span',
                            container: '.dock-container',
                            itemWidth: 40,
                            proximity: 90,
                            halign : 'center'
                        }
                );
                $('#dock2').Fisheye(
                        {
                            maxWidth: 100,
                            items: 'a',
                            itemsText: 'span',
                            container: '.dock-container2',
                            itemWidth: 70,
                            proximity: 85,
                            alignment : 'left',
                            valign: 'bottom',
                            halign : 'center'
                        }
                )
            }
    );

</script>
<script type="text/javascript" src="/javascripts/page.js"></script>
<script type="text/javascript" src="/javascripts/interface.js"></script>
</body>
</html>