<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="keywords" content="gravitas memories gravitas15 2015 technical fest festival college engineering">
    <meta name="description" content="Gravitas 2015 was an international Technical fest. This page contains glimpses of the fest.">
    <meta content="index, follow" name="robots" />
    <meta content="index, follow" name="googlebot" />
    <meta charset="utf-8">
    <link href="/images/favicon-96x96.png" rel="icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <title>graVITas|Home</title>
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/zmd.hierarchical-display.css" rel="stylesheet">
    <link href="/stylesheets/material-cards.css" rel="stylesheet">
    <link href="/bower/materialize/dist/css/materialize.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/stretchy-navigation.css" type="text/css">
    <link href="/stylesheets/home2.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css" type="text/css">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-78645903-2', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
<div id="loader-wrapper">
    <div id="loader">
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</div>
<div id="whole">
<div class="graphics">
    <h1 style="display: none">gravitas 16</h1>
</div>
<div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper z-depth-3">
        <div class="brand-logo col m3 l3 s4" id="gravitas-logo"><a href="#"> <img src="/images/gravitas.png"/></a></div>

        <ul class="right large-visible">

            <li><a href="/images/gravitas16-brochure.pdf" target="_blank" style="font-size: 80%;">Sustainable Social Innovation</a></li>
            <li><div id="vit"><a href="http://www.vit.ac.in"  target="_blank"> <img src="/images/vitlogowhitepng.png" align="center" style=""/></a></div></li>

        </ul>

        <a href="#" data-activates="mobile-demo" class="button-collapse large-not-visible"><i class="material-icons">menu</i></a>
        <ul class="side-nav large-not-visible" id="mobile-demo">
            <li class="waves-effect waves-teal" ><a href="/images/gravitas16-brochure.pdf" target="_blank"><h5 style="font-size: 125%">Sustainable Social Innovation</h5></a></li>
            <li class="waves-effect waves-teal"><a href="#" id="home2" style="padding-left: 0"><img class="left" src="/images/home.svg" style="margin-top: 18px; margin-right: 5px; margin-left: 20px;float: left;width: 30px;height: 30px;vertical-align: baseline;"><p style="margin-top: 0">Home</p></a></li>
            <li class="waves-effect waves-teal"><a href="#aboutmodal" id="about2" class="modal-trigger"><img class="left" src="/images/info.svg"><p>About</p></a></li>
            <li class="waves-effect waves-teal"><a href="#" id="events2" style="padding-left: 0"><img class="left" src="/images/events.svg" style="margin-top: 18px; margin-right: 5px; margin-left: 20px;float: left;width: 30px;height: 30px;vertical-align: baseline;"><p style="margin-top: 0">Events</p></a></li>
            <li class="waves-effect waves-teal"><a href="#registermodal" class="modal-trigger"><img class="left" src="/images/register.svg"><p>Register</p></a></li>
            <li class="waves-effect waves-teal"><a href="#sponsormodal" class="modal-trigger"><img class="left" src="/images/sponsors.svg"><p>Sponsors</p></a></li>
            <li class="waves-effect waves-teal"><a href="#teammodal" class="modal-trigger"><img class="left" src="/images/team.svg"><p>Team graVITas</p></a></li>
            <li class="waves-effect waves-teal"><a href="#contactmodal" class="modal-trigger"><img class="left" src="/images/contact.svg"><p>Contact</p></a></li>

        </ul>
    </div>
</nav>
    </div>


<div id="events1">

</div>
<div id="schedulemodal" class="modal">
    <div class="modal-content">
        <h4 align="center">Schedule</h4>
        <hr>
        <p>Some Schedule</p>
    </div>

</div>
<div id="aboutmodal" class="modal">
    <div class="modal-content">
        <span class="close" id="about">X</span>
        <h4 align="center">graVITas '16</h4>
        <hr />
        <p>
            At Vellore Institute of Technology, graVITas isn’t one of the many technical festivals that you would expect to come across in any other university in India. Rather, graVITas is a movement, a revolution that continually strives to exceed standards, break intellectual barriers and redefine what it means to be a ‘technical enthusiast’.
            <br />
            In this brisk-paced world of ours, it requires everlasting effort and innovation in order to result in even the slightest amounts of forward displacement.
            <br />
            Therefore, it gives us nothing short of the highest amount of pleasure to formally introduce you to the latest edition of our university’s annual techno-management college festival, graVITas 2015.
            <br />
            This year, we expect a grand total of fifty thousand people, not just from colleges in and around Tamil Nadu, but also all the corners of the country, thus rendering graVITas 2016 an absolutely massive three day festival, one like no other.

        </p>

        <h4 align="center">Theme</h4>

        <hr>
        <p>In a time that witnesses man's never ending quest for creating technology at the nature's cost,
            we at graVITas'16 aim to redirect the path to development and innovation away from the present such
            that it does not harm the nature, rather protects it.We wish to create intelligent solutions to the problems impertinent
            to the environment around us as well as come up with path breaking ideas towards development of cleaner
            alternatives to energy.With this idea in our minds, we have decided the theme of GraVITas'16 as 'Sustainable Social
            Innovation' which aims at redirecting our focus from harsh technological innovations towards sustainable and practical solutions which
            can help in curbing the problems like energy and water depletion, as well as efficient utilization of resources in the present day and age.</p>
        <br>
        <h4>About VIT</h4>
        <hr>
        <p>VIT University was established with the aim of providing quality higher education on par with international standards. It persistently seeks and adopts innovative methods to improve the quality of higher education on a consistent basis.The campus has a cosmopolitan atmosphere with students from all corners of the globe. Experienced and learned teachers are strongly encouraged to nurture the students. The global standards set at VIT in the field of teaching and research spur us on in our relentless pursuit of excellence. In fact, it has become a way of life for us. The highly motivated youngsters on the campus are a constant source of pride. Our Memoranda of Understanding with various international universities are our major strength. They provide for an exchange of students and faculty and encourage joint research projects for the mutual benefit of these universities. Many of our students, who pursue their research projects in foreign universities, bring high quality to their work and esteem to India and have done us proud. With steady steps, we continue our march forward. We look forward to meeting you here at VIT.</p>
        <br>
        <h4 align="center">Statistics</h4>
        <hr>
        <p>400+ Colleges</p>
        <p>100+ Events</p>
        <p>50+ Workshops</p>
        <p>40+ Countries</p>
    </div>

</div>
<div id="sponsormodal" class="modal">
    <div class="modal-content">
        <span class="close" id="sponsor">X</span>
        <h4 align="center">Sponsors</h4>
        <hr>
        <p>Sponsor Information</p>
    </div>

</div>
<div id="contactmodal" class="modal">
    <div class="modal-content">
        <span class="close" id="contact">X</span>
        <h4 align="center"> Contact Us</h4>
        <hr>
        <br>
        <div class="row" style="text-align: center">
            <br>
            <div class="col s12 m3 l3">
                <img class="circle responsive-img" src="/images/SKK.jpg"/>
                <p>Dr.S.Karthi<br>+91 94862 51937</p>
            </div>
            <div class="col s12 m3 l3">
                <img class="circle responsive-img" src="/images/naiju.jpg"/>
                <p>Dr.C.D.Naiju<br>+91 94433 30174</p>
            </div>
            <div class="col s12 m3 l3">
                <img class="circle responsive-img" src="/images/ramesh.jpg"/>
                <p>Dr.Ramesh Babu<br>+91 94432 93325</p>
            </div>
            <div class="col s12 m3 l3">
                <img class="circle responsive-img" src="/images/sudhakar.jpg"/>
                <p>Prof. Sudhakar N.<br>+91 89033 09664</p>
            </div>
        </div>
        <h4 align="center">Email-Us</h4>
        <hr>
        <p align="center">info@vitgravitas.com</p>
        </div>
        <div class="modal-footer">
            <div class="row social" style="text-align: center">
                <h4 align="center">Social Media</h4><hr><br>
                <div class="col s12 m4 l4">
                   <a href="https://www.facebook.com/gravitas15/"  target="_blank"> <img class="circle responsive-img" src="/images/facebook.svg"/></a>
                </div>

              <div class="col s12 m4 l4">
                    <a href="https://www.instagram.com/vit.gravitas" target="_blank"> <img class="circle responsive-img" src="/images/instagram.svg"/></a>

                </div>

                <div class="col s12 m4 l4">
                    <a href="https://www.twitter.com/gravitas_vit" target="_blank"><img class="circle responsive-img" src="/images/twitter.svg"/></a>

                </div>

            </div>
        </div>

    </div>

</div>
<div id="teammodal" class="modal">
    <div class="modal-content">
        <span class="close" id="team">X</span>
        <h4 align="center">Team graVITas'16</h4>
        <hr>
        <div id="team">
            <br>
            <div class="row">
                <div class='col s12 m4 l4 offset-l4 offset-m4'>
                    <h4>Chief Patron</h4>
                    <img class="circle responsive-img" src="/images/GV.jpg"/>
                    <p>Dr.G.Viswanathan<br>Chancellor & Founder<br>VIT University</p>
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                <h4 align="center">Patrons</h4>
                <div class="col s12 m4 l4">
                    <img class="circle responsive-img" src="/images/ShankarV.jpg"/>
                    <p>Mr.Sankar Viswanathan<br>Vice President<br>VIT University</p>
                </div>
                <div class="col s12 m4 l4">
                    <img class="circle responsive-img" src="/images/ShekarV.jpg"/>
                    <p>Dr.Sekar Viswanathan<br>Vice President<br>VIT University</p>
                </div>
                <div class="col s12 m4 l4">
                    <img class="circle responsive-img" src="/images/GVS.jpg"/>
                    <p>Mr.G.V.Selvam<br>Vice President<br>VIT University</p>
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                <h4>Co-Patrons</h4>
                <div class="col s12 m4 l4">
                    <img class="circle responsive-img" src="/images/AAS.png"/>
                    <p>Dr.Anand A Samuel<br>Vice Chancellor<br>VIT University</p>
                </div>
                <div class="col s12 m4 l4">
                    <img class="circle responsive-img" src="/images/VR.jpg"/>
                    <p>Dr.V. Raju<br>Pro-Vice Chancellor<br>VIT University</p>
                </div>
                <div class="col s12 m4 l4">
                    <img class="circle responsive-img" src="/images/SN.png"/>
                    <p>Dr.S.Narayanan<br>Pro-Vice President<br>VIT University</p>
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                <h4 align="center">Convenors</h4>
                <div class="col s12 m3 l3">
                    <img class="circle responsive-img" src="/images/SKK.jpg"/>
                    <p>Dr.S.Karthi<br>Assisstant Director-Placement & Training<br>VIT University</p>
                </div>
                <div class="col s12 m3 l3">
                    <img class="circle responsive-img" src="/images/naiju.jpg"/>
                    <p>Dr.C.D.Naiju<br>VIT University</p>
                </div>
                <div class="col s12 m3 l3">
                    <img class="circle responsive-img" src="/images/ramesh.jpg"/>
                    <p>Dr.Ramesh Babu<br>VIT University</p>
                </div>
                <div class="col s12 m3 l3">
                    <img class="circle responsive-img" src="/images/sudhakar.jpg"/>
                    <p>Prof.Sudhakar N.<br>VIT University</p>
                </div>
            </div>

        </div>
    </div>

</div>
<div id="guestsmodal" class="modal">
    <div class="modal-content">
        <span class="close" id="guests">X</span>
        <h4 align="center">Guests</h4>
        <hr>
        <p>guests this gravitas are</p>
    </div>

</div>
<div id="registermodal" class="modal">
    <div class="modal-content">
        <span class="close" id="register">X</span>
        <h4 align="center">Register</h4>
        <hr>
        <br>
        <iframe src="https://gravitas16-portals.herokuapp.com/external/register" style=" width:100%; border: none;"></iframe>
    </div>

</div>

<div id="home">
<div class="content">
    <div class="gravitas">
        <ul class="gravitas-section">
            <li class="cards" id="first" >

                <svg viewBox="0 0 800 600" class="card-gravitas z-depth-4">
                    <symbol id="s-text">
                        <text text-anchor="middle"
                              x="50%"
                              y="35%"
                              class="text--line"
                                >
                            graVITas
                        </text>
                        <text text-anchor="middle"
                              x="50%"
                              y="68%"
                              class="text--line2"
                                >
                            2016
                        </text>

                    </symbol>

                    <g class="g-ants">
                        <use xlink:href="#s-text"
                             class="text-copy" id="gravitas"></use>
                        <use xlink:href="#s-text"
                             class="text-copy" id="gravitas"></use>
                        <use xlink:href="#s-text"
                             class="text-copy" id="gravitas"></use>
                        <use xlink:href="#s-text"
                             class="text-copy" id="gravitas"></use>
                        <use xlink:href="#s-text"
                             class="text-copy" id="gravitas"></use>
                    </g>


                </svg>
            </li>
            <li class="cards ">
                <svg viewBox="0 0 1000 600" class="card-gravitas z-depth-4">
                    <symbol id="g-text">
                        <text text-anchor="middle"
                              x="50%"
                              y="25%"
                              class="text--line"
                                >
                            Reduce
                        </text>
                        <text text-anchor="middle"
                              x="50%"
                              y="45%"
                              class="text--line2"
                                >
                            Reuse
                        </text>
                        <text text-anchor="middle"
                              x="50%"
                              y="65%"
                              class="text--line2"
                                >
                            Recycle
                        </text>

                    </symbol>

                    <g class="g-ants">
                        <use xlink:href="#g-text"
                             class="text-copy" id="reduce"></use>
                        <use xlink:href="#g-text"
                             class="text-copy" id="reduce"></use>
                        <use xlink:href="#g-text"
                             class="text-copy" id="reduce"></use>
                        <use xlink:href="#g-text"
                             class="text-copy" id="reduce"></use>
                        <use xlink:href="#g-text"
                             class="text-copy" id="reduce"></use>
                    </g>


                </svg>
            </li>
            <li class="cards">
                <svg viewBox="0 0 800 600" class="card-gravitas z-depth-4">
                    <symbol id="water-text">
                        <text text-anchor="middle"
                              x="50%"
                              y="35%"
                              class="text--line"
                                >
                           Save
                        </text>
                        <text text-anchor="middle"
                              x="50%"
                              y="68%"
                              class="text--line2"
                                >
                            Water
                        </text>

                    </symbol>

                    <g class="g-ants">
                        <use xlink:href="#water-text"
                             class="text-copy" id="water"></use>
                        <use xlink:href="#water-text"
                             class="text-copy" id="water"></use>
                        <use xlink:href="#water-text"
                             class="text-copy" id="water"></use>
                        <use xlink:href="#water-text"
                             class="text-copy" id="water"></use>
                        <use xlink:href="#water-text"
                             class="text-copy" id="water"></use>
                    </g>


                </svg>
            </li>
            <li class="cards">
                <svg viewBox="0 0 800 600" class="card-gravitas z-depth-4 ">
                    <symbol id="energy-text">
                        <text text-anchor="middle"
                              x="50%"
                              y="35%"
                              class="text--line"
                                >
                            Conserve
                        </text>
                        <text text-anchor="middle"
                              x="50%"
                              y="68%"
                              class="text--line2"
                                >
                            Energy
                        </text>

                    </symbol>

                    <g class="g-ants">
                        <use xlink:href="#energy-text"
                             class="text-copy" id="energy"></use>
                        <use xlink:href="#energy-text"
                             class="text-copy" id="energy"></use>
                        <use xlink:href="#energy-text"
                             class="text-copy" id="energy"></use>
                        <use xlink:href="#energy-text"
                             class="text-copy" id="energy"></use>
                        <use xlink:href="#energy-text"
                             class="text-copy"id="energy"></use>
                    </g>


                </svg>
            </li>


        </ul>
        <div class="gallery-pagination">
            <button class="gallery-pagination-dot" id="b1"></button>
            <button class="gallery-pagination-dot" id="b2"></button>
            <button class="gallery-pagination-dot" id="b3"></button>
            <button class="gallery-pagination-dot" id="b4"></button>

        </div>
    </div>
</div>
</div>
<div class="dock large-visible" id="dock2">
    <div class="dock-container2">
        <a class="dock-item2" href="#" id="home"><span>HOME</span><img src="/images/home.svg" alt="home" /></a>
        <a class="modal-trigger dock-item2" href="#aboutmodal" id="about"><span>ABOUT</span><img src="/images/info.svg" alt="contact" /></a>
        <a class="dock-item2" href="#" id="events"><span>EVENTS</span><img src="/images/events.svg" alt="events" /></a>
        <a class="modal-trigger dock-item2" href="#registermodal" id="register"><span>REGISTER</span><img src="/images/register.svg" alt="Register" /></a>
        <a class="modal-trigger dock-item2" href="#sponsormodal" id="sponsors"><span>SPONSORS</span><img src="/images/sponsors.svg" alt="sponsors" /></a>
        <a class="modal-trigger dock-item2" href="#teammodal" id="tg"><span>TEAM GRAVITAS</span><img src="/images/team.svg" alt="links"/></a>
        <a class="modal-trigger dock-item2" href="#contactmodal" id="cpg"><span>CONTACT</span><img src="/images/contact.svg" alt="rss" /></a>

    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters">
    <defs>
        <filter id="blur">
            <feGaussianBlur in="SourceGraphic" stdDeviation="0,0" />
        </filter>
    </defs>
</svg>
<footer class="page-footer large-not-visible">
    <div class="footer-copyright">
        <div class="container">
            © 2016 graVITas
            <a class="grey-text text-lighten-4 right" href="https://www.vit.ac.in"><img src="/images/vitlogowhitepng.png" align="center"/></a>
        </div>
    </div>
</footer>


<!--dock menu JS options -->
<script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(
            function()
            {
                $('#dock').Fisheye(
                        {
                            maxWidth: 50,
                            items: 'a',
                            itemsText: 'span',
                            container: '.dock-container',
                            itemWidth: 40,
                            proximity: 90,
                            halign : 'center'
                        }
                );
                $('#dock2').Fisheye(
                        {
                            maxWidth: 100,
                            items: 'a',
                            itemsText: 'span',
                            container: '.dock-container2',
                            itemWidth: 70,
                            proximity: 85,
                            alignment : 'left',
                            valign: 'bottom',
                            halign : 'center'
                        }
                )
            }
    );

</script><script type="text/javascript" src="/bower/materialize/dist/js/materialize.js"></script>

<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.js"></script>-->
<script type="text/javascript" src="/javascripts/TweenMax.min.js"></script>
<script type="text/javascript" src="/javascripts/home2.js"></script>
<script src="/javascripts/jquery.material-cards.js"></script>
<script type="text/javascript" src="/javascripts/page.js"></script>
<script type="text/javascript" src="/javascripts/interface.js"></script>
<script src="/javascripts/events2.js" type="text/javascript"></script>
<script src="javascripts/wow.js"></script>
<script>
    new WOW().init();
</script>

</body>
</html>