<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello Analytics - A quickstart guide for JavaScript</title>
</head>
<body>

<button id="auth-button" hidden>Authorize</button>

<h1>Hello Analytics</h1>

<textarea cols="80" rows="20" id="query-output"></textarea>



</body>
</html>