<!DOCTYPE html>
<html>
<head>
    <title>Gravitas</title>
    <meta name="keywords" content="gravitas memories gravitas15 2015 technical fest festival college engineering">
    <meta name="description" content="Gravitas 2015 was an international Technical fest. This page contains glimpses of the fest.">
    <meta content="index, follow" name="robots" />
    <meta content="index, follow" name="googlebot" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href='/bower/materialize/dist/css/materialize.min.css' rel="stylesheet"/>
    <link href="/images/favicon-96x96.png" rel="icon" />

    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <script src="/bower/materialize/dist/js/materialize.min.js"></script>
</head>
<body>

    <div class="slider fullscreen">
        <ul class="slides">
            <li>
                <img src="http://res.cloudinary.com/events-gravitas/image/upload/v1444243732/prev/random6.jpg">
                <div class="caption center-align">
                    <h1 class="main-caption">GRAVITAS '15</h1>
                    <h5 class="light grey-text text-lighten-3">Design | Create | Patent</h5>
                    <h5 class="light grey-text text-lighten-3">Memories</h5>
                </div>
            </li>
            <li>
                <img src="http://res.cloudinary.com/events-gravitas/image/upload/v1444243732/prev/random4.jpg">
                <div class="caption left-align">
                    <h3>Design</h3>
                    <h5 class="light grey-text text-lighten-3">New 3-D printer donated to VIT University by Botzlab.</h5>
                </div>
            </li>
            <li>
                <img src="http://res.cloudinary.com/events-gravitas/image/upload/v1444243746/prev/y2b.jpg">
                <div class="caption right-align">
                    <h3>Create</h3>
                    <h5 class="light grey-text text-lighten-3">3 new products were presented at the opening ceremony.</h5>
                </div>
            </li>
            <li>
                <img src="http://res.cloudinary.com/events-gravitas/image/upload/v1444592387/patent.jpg">
                <div class="caption center-align">
                    <h3>Patent</h3>
                    <h5 class="light grey-text text-lighten-3">7 patents were filed on the first day of graVITas '15.</h5>
                </div>
            </li>
            <li>
                <img src="http://res.cloudinary.com/events-gravitas/image/upload/v1444243678/prev/dark2.jpg">
                <div class="caption center-align">
                    <h3>GraVITas '15</h3>
                    <h5 class="light grey-text text-lighten-3">View more <a href="https://www.facebook.com/graVITas15" style="color:yellow">here.</a></h5>
                    <h4 class="light grey-text text-lighten-3" id="count"> </h4>
                </div>
            </li>
        </ul>
    </div>

<script src="/javascripts/countdown.js"></script>
<script>

    window.onload = function(){
        start();
        $('.slider').slider({full_width: true});
    };
    function start() {
        var m = document.getElementById('count');
        var time = countdown();
        m.innerHTML = Math.round(time.months) + ' Months & ' + Math.round(time.days) + ' Days till GraVITas \'16';
    }
</script>
</body>
</html>
