<html>
<head>
<title>G'16</title><link rel="shortcut icon" href="/images/Glogo.png" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="">
</head>
<body>
<div id="holder" style="top:0;
	margin-right: 0;
	margin-left: 0;
	 background-size:contain; 
	position: absolute;
	">
<img src="/images/SOCIALINNOVATIONS1.jpg" usemap="#image-map">

<map name="image-map">
    <area target="_blank" alt="3R'S" title="3R'S" href="" coords="330,372,71" shape="circle">
    <area target="_blank" alt="WATER" title="WATER" href="" coords="699,371,72" shape="circle">
    <area target="_blank" alt="ENERGY" title="ENERGY" href="" coords="1061,369,72" shape="circle">
    <area target="_blank"  href="" coords="76,185,26" shape="circle">
    <area target="_blank"  href="" coords="192,273,28" shape="circle">
    <area target="_blank" href="" coords="323,185,31" shape="circle">
    <area target="_blank"  href="" coords="385,509,36" shape="circle">
    <area target="_blank" href="" coords="680,541,38" shape="circle">
    <area target="_blank" href="" coords="646,218,40" shape="circle">
    <area target="_blank"  href="" coords="820,335,33" shape="circle">
    <area target="_blank"  href="" coords="839,184,36" shape="circle">
    <area target="_blank"  href="" coords="1154,201,34" shape="circle">
    <area target="_blank"  href="" coords="1011,256,35" shape="circle">
    <area target="_blank"  href="" coords="979,448,28" shape="circle">
    <area target="_blank"  href="" coords="1062,537,31" shape="circle">
</map>
</body>