<html>
<head>
<title>G'16</title><link rel="shortcut icon" href="/images/Glogo.png" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
 <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/modal.css">
<link href="/bower/materialize/dist/css/materialize.min.css" rel="stylesheet">
 <link href="/bower/bootstrap/dist/css/bootstrap.min.css"/>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">

</head>

<body style="background-color:#000; ">
<div id="earth" style="z-index: 0;"></div>
	<div id="holder"> <img id="gf" src="/images/yoo.gif" style="opacity: 0.85" />
	
<img id="bg" src="/images/yoo.gif" usemap="#image-map" style="opacity: 1; z-index:10;">

<map name="image-map">
    <area class="modal-trigger" alt="events" title="events" href="#events" coords="275,470,41" shape="circle">
    <div id="events" class="modal modal1">

        <div class="modal-content">
            <H3><div id="text" align="center">EVENTS</div></H3>
            <div class="row">
                <div class="col s3">
                    <div class="fadeInAmate a" align="center" id="k">

                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate a " align="center">
                        Formals
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate a" align="center">
                        Bits And Bytes
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate a" align="center">
                        Online
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center" id="k">

                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center">
                        Circuitrix
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center">
                        Applied
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center">
                        Builtrix
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate c" align="center" id="k">

                    </div>
                </div>
                <div class="col s3 ">
                    <div class="fadeInAmate c" align="center" >
                        Online
                    </div>
                </div>
                <div class="col s3 ">
                    <div class="fadeInAmate c" align="center">
                        Online
                    </div>
                </div>
                <div class="col s3 ">
                    <div class="fadeInAmate c" align="center">
                        Online
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center" id="k">

                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center">
                        Builtrix
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center">
                        Builtrix
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center">
                        Builtrix
                    </div>
                </div>
            </div>
            <svg width="100%" height="100%" id="semic">
                <circle cx="0" cy="100%" r="100" style="fill: #0097A7;"></circle>
                <circle cx="0" cy="100%" r="150" style="fill:none; stroke: #0097A7; stroke-width: 6px;"></circle>
                <circle cx="0" cy="100%" r="200" style="fill:none; stroke:#0097A7; stroke-width: 6px"></circle>
            </svg>
            <div class="ab">
            </div>
        </div>
    </div>

    <area  class="modal-trigger" alt="about" title="about" href="#about" coords="215,143,48" shape="circle">
    <div id="about" class="modal modal1">

        <div class="modal-content">
            <H3><div id="text" align="center">Coming Up...</div></H3>
            <svg width="100%" height="100%" id="semic">
                <circle cx="0" cy="100%" r="100" style="fill: #0097A7;"></circle>
                <circle cx="0" cy="100%" r="150" style="fill:none; stroke: #0097A7; stroke-width: 6px;"></circle>
                <circle cx="0" cy="100%" r="200" style="fill:none; stroke:#0097A7; stroke-width: 6px"></circle>
            </svg>
            <div id="a">
            </div>
        </div>
    </div>
    <area  class="modal-trigger"  alt="schedule" title="schedule" href="#schedule" coords="588,158,54" shape="circle">
    <div id="schedule" class="modal modal1">

        <div class="modal-content">
            <H3><div id="text" align="center">Coming Up...</div></H3>
            <svg width="100%" height="100%" id="semic">
                <circle cx="0" cy="100%" r="100" style="fill: #0097A7;"></circle>
                <circle cx="0" cy="100%" r="150" style="fill:none; stroke: #0097A7; stroke-width: 6px;"></circle>
                <circle cx="0" cy="100%" r="200" style="fill:none; stroke:#0097A7; stroke-width: 6px"></circle>
            </svg>
            <div id="a">
            </div>
        </div>
    </div>
    <div id="schedule" class="modal modal1">

        <div class="modal-content">
            <H3><div id="text" align="center">Coming Up...</div></H3>
            <svg width="100%" height="100%" id="semic">
                <circle cx="0" cy="100%" r="100" style="fill: #0097A7;"></circle>
                <circle cx="0" cy="100%" r="150" style="fill:none; stroke: #0097A7; stroke-width: 6px;"></circle>
                <circle cx="0" cy="100%" r="200" style="fill:none; stroke:#0097A7; stroke-width: 6px"></circle>
            </svg>
            <div id="a">
            </div>
        </div>
    </div>
    <area class="modal-trigger" alt="pastgravitas" title="pastgravitas" href="#pastG" coords="790,167,57" shape="circle">
    <div id="pastG" class="modal modal1">

        <div class="modal-content">
            <H3><div id="text" align="center">Coming Up...</div></H3>
            <svg width="100%" height="100%" id="semic">
                <circle cx="0" cy="100%" r="100" style="fill: #0097A7;"></circle>
                <circle cx="0" cy="100%" r="150" style="fill:none; stroke: #0097A7; stroke-width: 6px;"></circle>
                <circle cx="0" cy="100%" r="200" style="fill:none; stroke:#0097A7; stroke-width: 6px"></circle>
            </svg>
            <div id="a">
            </div>
        </div>
    </div>
    <area class="modal-trigger" alt="register" title="register" href="#register" coords="538,386,50" shape="circle">
    <div id="register" class="modal modal1">

        <div class="modal-content">
            <H3><div id="text" align="center">Coming Up...</div></H3>
            <svg width="100%" height="100%" id="semic">
                <circle cx="0" cy="100%" r="100" style="fill: #0097A7;"></circle>
                <circle cx="0" cy="100%" r="150" style="fill:none; stroke: #0097A7; stroke-width: 6px;"></circle>
                <circle cx="0" cy="100%" r="200" style="fill:none; stroke:#0097A7; stroke-width: 6px"></circle>
            </svg>
            <div id="a">
            </div>
        </div>
    </div>
    <area class="modal-trigger" alt="sponsors" title="sponsors" href="#sponsors" coords="801,473,48" shape="circle">
    <div id="sponsors" class="modal modal1">

        <div class="modal-content">
            <H3><div id="text" align="center">Coming Up...</div></H3>
            <svg width="100%" height="100%" id="semic">
                <circle cx="0" cy="100%" r="100" style="fill: #0097A7;"></circle>
                <circle cx="0" cy="100%" r="150" style="fill:none; stroke: #0097A7; stroke-width: 6px;"></circle>
                <circle cx="0" cy="100%" r="200" style="fill:none; stroke:#0097A7; stroke-width: 6px"></circle>
            </svg>
            <div id="a">
            </div>
        </div>
    </div>
</map>
	 </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jq.entry.js"></script>
<script type="text/javascript" src="/javascripts/jquery.fadeInAmate.js"></script>
<script type="text/javascript" src="/javascripts/jquery.transit.js"></script>
<script type="text/javascript" src="/javascripts/jquery.textFx.js"></script>
<script type="text/javascript" src="/bower/materialize/bin/materialize.js"></script>
<script type="text/javascript" src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/modal.js"></script>
 
 <script type="text/javascript">
 $("#holder #gf").delay(7500).hide(0);
 
</script>
</body>
</html>


<!-- style="width: 80%;margin-right: 10%; background:url('images/yoo.gif') no-repeat fixed ;
     -moz-background-size: contain;
	-webkit-background-size:contain;
	background-position:contain;
	background-repeat: no-repeat;
	position:absolute;z-index:0;" -->