<html>
<head>
<title>G'16</title><link rel="shortcut icon" href="/images/Glogo.png" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="">
</head>
<body>
<div id="holder" style="top:0;
	margin-right: 0;
	margin-left: 0;
	 background-size:contain; 
	position: absolute;
	">

<img src="/images/vectorcoloured3.png" usemap="#image-map">

<map name="image-map">
    <area target="_blank" alt="about" title="about" href="" coords="246,202,54" shape="circle">
    <area target="_blank" alt="events" title="events" href="" coords="748,256,54" shape="circle">
    <area target="_blank" alt="contact past gravitas" title="contact past gravitas" href="" coords="1103,223,54" shape="circle">
    <area target="_blank" alt="schedule" title="schedule" href="" coords="417,504,54" shape="circle">
    <area target="_blank" alt="register" title="register" href="" coords="695,423,53" shape="circle">
    <area target="_blank" alt="sponsors" title="sponsors" href="" coords="1077,519,54" shape="circle">
</map>
</body>