<html>
<head>
<title>G'16</title><link rel="shortcut icon" href="images/Glogo.png" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
</head>

<body style="background-color:#000; ">
<div id="earth" style="z-index: 0;"></div>
	<div id="holder"> <img id="gf" src="images/yoo.gif" style="opacity: 0.85" />
	
<img id="bg" src="images/yoo.gif" usemap="#image-map" style="opacity: 1; z-index:10;">

<map name="image-map">
    <area target="_blank" alt="about" title="about" href="#about" coords="215,143,48" shape="circle">
    <area target="_blank" alt="schedule" title="schedule" href="#schedule" coords="588,158,54" shape="circle">
    <area target="_blank" alt="pastgravitas" title="pastgravitas" href="#pastG" coords="790,167,57" shape="circle">
    <area target="_blank" alt="events" title="events" href="#events" coords="275,470,41" shape="circle">
    <area target="_blank" alt="register" title="register" href="#register" coords="538,386,50" shape="circle">
    <area target="_blank" alt="sponsors" title="sponsors" href="#sponsors" coords="801,473,48" shape="circle">
</map>
	 </div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
 
 <script type="text/javascript">
 $("#holder #gf").delay(7500).hide(0);
 
</script>
</body>
</html>


<!-- style="width: 80%;margin-right: 10%; background:url('images/yoo.gif') no-repeat fixed ;
     -moz-background-size: contain;
	-webkit-background-size:contain;
	background-position:contain;
	background-repeat: no-repeat;
	position:absolute;z-index:0;" -->