<div class="container" ng-init="setup()">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="mdi-content-add"></i>New</div>
            <div class="collapsible-body">
                <form ng-submit="processForm()">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m4">
                                <label for="m_category">Main Category*: </label>
                                <input placeholder="Main Category of Article" name="m_category" type="text"
                                       ng-model="formDatain.m_category"/></div>
                            <div class="col s12 m4">
                                <label for="c_name">Company*: </label>
                                <input placeholder="Company Name" name="c_name" type="text"
                                       ng-model="formDatain.c_name"/></div>
                        </div>
                        <div class="col s12">
                            <label for="contentText">Content*: </label>
                            <textarea rows="20" name="contentText"
                                      placeholder="Type Content Here" ng-model="formDatain.contentText"
                                      style="height:auto"></textarea>
                        </div>
                        <div class="col s12 m4">
                            <input class="btn" type="submit" value="Submit"/>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="mdi-action-label"></i>Find And Edit</div>
            <div class="collapsible-body">
                <div ng-if="!findMessage">
                    <form ng-submit="findData()">
                        <div class="container">
                            <label for="c_name">Company</label>
                            <input type="text" placeholder="Company" name="f_c_name" ng-model="formDataFind.f_c_name"/>
                            <input class="btn" type="submit" value="Submit"/>
                        </div>
                    </form>
                </div>
                <div ng-if="findMessage">
                    <form ng-submit="editArticle()">
                        <div class="container">
                            <div class="row">
                                <div class="col s12 m4">
                                    <label for="e_m_category">Main Category: </label>
                                    <input placeholder="Main Category of Article" name="e_m_category" type="text"
                                           ng-model="formDataGet.main_category"/></div>
                                <div class="col s12 m4">
                                    <label for="e_c_name">Company: </label>
                                    <input placeholder="Topic of Article" name="e_c_name" type="text"
                                           ng-model="formDataGet.c_name"/></div>
                            </div>
                            <div class="col s12">
                                <label for="e_contentText" valign="top">Content: </label>
                            <textarea rows="20" name="e_contentText"
                                      placeholder="Type Content Here" ng-model="formDataGet.content"
                                      style="height:auto"></textarea></div>
                            <div class="col s12 m4">
                                <input class="btn" type="submit" value="Submit"/></div>
                        </div>
                    </form>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="mdi-action-delete"></i>Delete</div>
            <div class="collapsible-body">
                <form ng-submit="deleteArticle()">
                    <div class="container">
                        <label for="c_name">Topic: </label>
                        <input type="text" placeholder="Company" name="d_c_name" ng-model="formDelete.d_c_name"/>
                        <input class="btn" type="submit" value="Submit"/></div>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="mdi-image-add-to-photos"></i>Upload Image</div>
            <div class="collapsible-body">

                <form ng-submit="addImage()">
                    <div class="container">
                        <label for="imgfile">Upload Image File: </label>
                        <input type="file" name="imgfile" id="imgfile" nv-file-select uploader="uploader"
                               options="{ url: '/input/upload'}"/>
                        <input class="btn" type="submit" value="Upload"/>
                    </div>
                </form>
            </div>
        </li>
    </ul>

</div>
