<!DOCTYPE html>
<html ng-app="gravitas">
<head>
    <title>
        graVITas'16
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<ng-view>

</ng-view>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-route/angular-route.min.js"></script>
<script src="/bower/angular-file-upload/dist/angular-file-upload.min.js"></script>
<script src="/javascripts/angular_app/helpers.js"></script>
<script src="/javascripts/angular_app/app.js"></script>
<script src="/javascripts/angular_app/controllers.js"></script>
<script src="/javascripts/angular_app/routes.js"></script>

<script type="text/javascript">


</script>
</body>
</html>