<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href="/bower/materialize/dist/css/materialize.min.css" rel="stylesheet">
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/modal.css"/>
</head>
<body>
<div class="container">
        <a class="waves-effect waves-light btn modal-trigger" href="#events">EVENTS</a>
    <!-- Modal Structure -->
   <div id="events" class="modal">

        <div class="modal-content">

           <svg width="100%" height="100%" id="semic">
               <circle cx="0" cy="100%" r="100" style="fill: #0097A7;"></circle>

               <circle cx="0" cy="100%" r="150" style="fill:none; stroke: #0097A7; stroke-width: 6px;"></circle>
               <circle cx="0" cy="100%" r="200" style="fill:none; stroke:#0097A7; stroke-width: 6px"></circle>
           </svg>
            <div id="a">
            </div>
        </div>
    </div>
    <a class="waves-effect waves-light btn modal-trigger" href="#events">Sponsors</a>
    <!-- Modal Structure -->
    <div id="sponsors" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
    </div>
    <a class="waves-effect waves-light btn modal-trigger" href="#events">Past graVITas</a>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
    </div>
    <a class="waves-effect waves-light btn modal-trigger" href="#events">Register</a>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
    </div>
    <a class="waves-effect waves-light btn modal-trigger" href="#events">Schedule</a>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
    </div>
    <a class="waves-effect waves-light btn modal-trigger" href="#events">About</a>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
    </div>

</div>


</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="/bower/materialize/bin/materialize.js"></script>
<script type="text/javascript" src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/modal.js"></script>
</body>
</html>