<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href="/bower/materialize/dist/css/materialize.min.css" rel="stylesheet">
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/modal.css"/>
</head>
<body>
<div class="container">
    <div class="col s12 l12 m12">
        <a class="waves-effect waves-light btn modal-trigger" href="#events">EVENTS</a>
    <!-- Modal Structure -->
   <div id="events" class="modal modal1">

        <div class="modal-content">
            <H3><div id="text" align="center">EVENTS</div></H3>
            <div class="row">
            <div class="col s3">
            <div class="fadeInAmate a" align="center" id="k">

           </div>
            </div>
                <div class="col s3">
                    <div class="fadeInAmate a " align="center">
                       Formals
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate a" align="center">
                        Bits And Bytes
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate a" align="center">
                       Online
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center" id="k">

                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center">
                        Circuitrix
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center">
                        Applied
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center">
                        Builtrix
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate c" align="center" id="k">

                    </div>
                </div>
                <div class="col s3 ">
                    <div class="fadeInAmate c" align="center" >
                        Online
                    </div>
                </div>
                <div class="col s3 ">
                    <div class="fadeInAmate c" align="center">
                        Online
                    </div>
                </div>
                <div class="col s3 ">
                    <div class="fadeInAmate c" align="center">
                        Online
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center" id="k">

                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center">
                        Builtrix
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center">
                        Builtrix
                    </div>
                </div>
                <div class="col s3">
                    <div class="fadeInAmate b" align="center">
                        Builtrix
                    </div>
                </div>
            </div>
           <svg width="100%" height="100%" id="semic">
               <circle cx="0" cy="100%" r="100" style="fill: #0097A7;"></circle>
               <circle cx="0" cy="100%" r="150" style="fill:none; stroke: #0097A7; stroke-width: 6px;"></circle>
               <circle cx="0" cy="100%" r="200" style="fill:none; stroke:#0097A7; stroke-width: 6px"></circle>
           </svg>
            <div id="a">
            </div>
        </div>
    </div>
    <a class="waves-effect waves-light btn modal-trigger" href="#sponsors">Sponsors</a>
    <!-- Modal Structure -->
    <div id="sponsors" class="modal1 modal">
        <div class="modal-content">
               <h1>
                   <div class="fadeInAmate" align="center">
                       Coming Up..
                   </div>
               </h1>
            </div>


        </div>

    <a class="waves-effect waves-light btn modal-trigger" href="#pastgravitas">Past graVITas</a>
    <!-- Modal Structure -->
        <div id="pastgravitas" class="modal1 modal">
            <div class="modal-content">
                <h1>
                    <div class="fadeInAmate" align="center">
                        Coming Up..
                    </div>
                </h1>
            </div>


        </div>
    <a class="waves-effect waves-light btn modal-trigger" href="#register">Register</a>
    <!-- Modal Structure -->
        <div id="register" class="modal1 modal">
            <div class="modal-content">
                <h1>
                    <div class="fadeInAmate" align="center">
                        Coming Up..
                    </div>
                </h1>
            </div>
        </div>
    <a class="waves-effect waves-light btn modal-trigger" href="#events">Schedule</a>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
    </div>
    <a class="waves-effect waves-light btn modal-trigger" href="#events">About</a>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
    </div>

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jq.entry.js"></script>
<script type="text/javascript" src="/javascripts/jquery.fadeInAmate.js"></script>
<script type="text/javascript" src="/javascripts/jquery.transit.js"></script>
<script type="text/javascript" src="/javascripts/jquery.textFx.js"></script>
<script type="text/javascript" src="/bower/materialize/bin/materialize.js"></script>
<script type="text/javascript" src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/modal.js"></script>
</body>
</html>