<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="keywords" content="gravitas memories gravitas15 2015 technical fest festival college engineering">
    <meta name="description" content="Gravitas 2015 was an international Technical fest. This page contains glimpses of the fest.">
    <meta content="index, follow" name="robots" />
    <meta content="index, follow" name="googlebot" />
    <link href="/images/favicon-96x96.png" rel="icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <title>graVITas|Register</title>
    <link href="/bower/materialize/dist/css/materialize.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/home2.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div clas="navbar-fixed">
    <nav>
        <div class="nav-wrapper z-depth-3">
            <div class="brand-logo col m3 l3 s4 offset-s4"><img src="/images/gravitas.png"/></div>

            <ul class="right hide-on-med-and-down">

                <li><a href="/index2">Social Innovation</a></li>

            </ul>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#"><i class="material-icons">search</i></a></li>
                <li><a href="/index2">Social Innovation</a></li>

            </ul>
        </div>
    </nav>
</div>
    <iframe src="https://gravitas16-portals.herokuapp.com/" style="height:900px; width:100%; border: none;"></iframe>
<script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
<script>
    $(".button-collapse").sideNav();
</script>
</script><script type="text/javascript" src="/bower/materialize/dist/js/materialize.js"></script>
</body>
</html>