<form action="/register" method="post">
    Username:<input type="username" name="username">
    Password:<input type="password" name="password">
    Confirm:<input type="password" name="confirm_password">
    <button type="submit">Submit</button>
</form>