<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>graVITas'16</title>
    <link href="/images/favicon-96x96.png" rel="icon" />
    <link href="/bower/materialize/dist/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/social1.css">
</head>
<body>

    <div class="row">
        <div class="col l12 m12 s12">
            <div class="card-panel #1e88e5 blue darken-1" id="head">
               <h3 class="center-align"><span class="white-text ">graVITas 2016<br>SOCIAL INITIATIVE</span></h3>
            </div>
        </div>
        <div class="container">
        <div class="col l4 m6 s12">
            <a href="#">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/images/sample.jpg">

                    </div>
                    <div class="card-content">
                        <h5 align="left" style="line-height: 30%;"> <span class=" black-text ">ENVIRONMENT</span></h5>
                        <p class="black-text">Lorem ipsum dolor sit amet, te eos solum labores.</p>
                    </div>
                </div>
            </a>
            <a href="#">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="/images/sample.jpg">

                </div>
                <div class="card-content">
                    <h5 align="left" style="line-height: 30%;"> <span class=" black-text ">MANUFACTURING</span></h5>
                    <p class="black-text">Lorem ipsum dolor sit amet, te eos solum labores.</p>
                </div>
            </div>
                </a>
        </div>
        <div class="col l4 m6 s12">
            <a href="#">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="/images/sample.jpg">

                </div>
                <div class="card-content">
                    <h5 align="left" style="line-height: 30%;"> <span class=" black-text ">ENERGY</span></h5>
                    <p class="black-text">Lorem ipsum dolor sit amet, te eos solum labores.
                        </p>
                </div>
            </div>
                </a>
            <a href="#">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="/images/sample.jpg">
                </div>
                <div class="card-content">
                    <h5 align="left" style="line-height: 30%;"> <span class=" black-text ">FOOD</span></h5>
                    <p class="black-text">Lorem ipsum dolor sit amet, te eos solum labores.
                        </p>
                </div>
            </div>
                </a>
         </div>

        <div class="col l4 m6 s12">
            <a href="#">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="/images/sample.jpg">
                </div>
                <div class="card-content">
                    <h5 align="left" style="line-height: 30%;"> <span class=" black-text ">HEALTH</span></h5>
                    <p class="black-text">Lorem ipsum dolor sit amet, te eos solum labores.
                        </p>
                </div>
            </div>
                </a>
            <a href="#">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="/images/sample.jpg">

                </div>
                <div class="card-content">
                    <h5 align="left" style="line-height: 30%;"> <span class=" black-text ">DIGITAL</span></h5>
                    <p class="black-text"> Lorem ipsum dolor sit amet, te eos solum labores.</p>
                </div>
            </div>
            </a>
        </div>

    </div>
</div>

<script src="/bower/jquery/dist/jquery.js"></script>
<script src="/bower/materialize/dist/js/materialize.min.js"></script>
</body>
</html>