<div id="aboutmodal">
    <div class="modal-content">
        <span class="close" id="about">X</span>
        <h4 align="center">graVITas '16</h4>
        <hr />
        <p style="text-align: justify">
            graVITas is VIT University’s annual knowledge carnival which aims to empower the young minds by giving them a national platform to showcase their genius and innovation. The Technical festival is spread over 3 days with over 100 events, 50 workshops with over 30,000 footfalls. Started in 2009 by a group of enthusiastic VITians, graVITas now in its 8th edition has become the largest technical festival of its kind. Each year graVITas bring in a new theme, thus providing the eager participants a new experience every time. “Sustainable social innovations” is the theme for graVITas’16 were students will showcase various ideas, lend a framework to transform latent concepts into viable technical solutions to real world problems faced by our society.  </p>

        <h4 align="center">Theme</h4>

        <hr>
        <p style="text-align: justify">This time graVITas 2016 brings along a surge of innovation with itself because the need of the hour is to create something that is not only new but also sustainable and implementable for our needs; for India’s needs. The theme for graVITas 2016 is “Sustainable social innovations”. We define social innovation as the development and implementation of new ideas to meet social needs. These innovations are driven by social values as primary imperative rather than private financial appropriation and the products developed eliminate harmful impacts on ecological systems, human health and communities.  We wish to empower the youth by channeling their ideas for the overall good of the society and thus graVITas’ 16 is a stepping stone for all such innovations and innovators. </p>
        <br>
        <h4>About VIT</h4>
        <hr>
        <p style="text-align: justify">Founded in 1984 as Vellore Engineering College, the institute was declared as a University in recognition of its academic excellence by the Ministry of Human Resources Development, Government of India in 2001 and was renamed VIT University. Established with the aim of providing world-class higher education, the multicultural atmosphere, best student to teacher ratio and an incomparable eco-friendly infrastructure VIT University has become the most favored destination of students for holistic improvement. VIT is the first educational institution in India to get international accreditations for its programs. To fulfill the vision of the founder and chancellor, Dr. G. Viswanathan, VIT today comprises nine constituent schools and interdisciplinary centers offering graduate, post graduate and research programs up to Ph.D. level. With each year our relentless pursuit of excellence through research and innovation motivates and guides us towards greater achievements.</p>
        <br>
        <h4 align="center">Statistics</h4>
        <hr>
        <p>400+ Colleges</p>
        <p>100+ Events</p>
        <p>50+ Workshops</p>
        <p>40+ Countries</p>
    </div>

</div>
<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/about") == -1) {
            window.location.assign("/#/about")
        }
    };
</script>