<div class="accommodation" id="accommodation">
    <h1 align="center">Accommodation for Externals</h1>
    <div class="container">
        <div class=" row">
            <div class="card">
                <div class="col s12 m12 l12">
                    <p>Charges for accommodation of external participants is <strong>Rs. 250/night</strong>. In addition to this, the external participants also have to pay a mi  caution deposit of <strong>Rs. 250</strong> which will be returned later.</p>
                </div>
            </div>
        </div>
    </div>
</div>