<div>
    <ul>
            <div id="events2" class="even">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m12 l12 wow fadeInDown center" data-wow-duration="700ms" data-wow-delay="0"><h2>{{heading | uppercase}}</h2></div>
                        <div class="col s6 m6 l6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="100ms" ng-repeat="category in categories" ng-click="showCategory($index)" ng-show="showCategories">
                            <div class="card category z-depth-3">
                                <div class="card-title">
                                    <h4 class="black-text">{{category | uppercase}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="back" ng-show="showWorkshops" ng-click="backToCategories()"><i class="material-icons">arrow_back</i></div>
                        <div class="col s6 m6 l4 wow fadeInDown black-text" data-wow-duration="1s" data-wow-delay="100ms" ng-repeat="event in events | filter: {category: 'workshop'}" ng-click="showEvent(event)" ng-show="showWorkshops">
                            <div class="card events z-depth-2">
                                <div class="card-title">
                                    <h5  class="black-text">{{event.name | uppercase}}
                                        <br>
                                        <small ng-repeat="org in event.organization">{{org}}</small>
                                    </h5>
                                </div>

                            </div>

                        </div>
                        <div class="back" ng-show="showSubcategories" ng-click="backToCategories()"><i class="material-icons">arrow_back</i></div>
                        <div class="col s6 m6 l4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="100ms" ng-repeat="subcat in subCategories" ng-click="showEvents($index)" ng-show="showSubcategories">
                            <div class="card subcategory">
                                <div class="card-title"><h5  class="black-text">{{subcat | uppercase}}</h5></div>
                            </div>
                        </div>
                        <div class="back" ng-show="showAllEvents" ng-click="backToSubcategories()"><i class="material-icons">arrow_back</i></div>
                        <div class="col s6 m6 l4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="100ms" ng-repeat="event in events | filter: {subCategory: scat}" ng-click="showEvent(event)" ng-show="showAllEvents">
                            <div class="card events z-depth-2">
                                <div class="card-title">
                                    <h5 class="black-text">
                                        {{event.name | uppercase}}
                                        <br>
                                        <small ng-repeat="org in event.organization">{{org}}</small>
                                    </h5>
                                </div>
                            </div>

                        </div>
                        </div>

                    </div>
                <div class="container single-event">
                    <div class="row">
                        <div class="col s12 m12 l12 wow fadeIn" data-wow-duration="500ms" data-wow-delay="0" ng-show="showSingleEvent">
                            <div class="card">
                                <div class="card-title"><h3 class="black-text">{{singleEvent.name | uppercase}}<br><small ng-repeat="org in singleEvent.organization">{{org}}</small></h3><span class="material-icons close" ng-click="hideEvent()"><i>close</i></span></div>
                                <hr>
                                <div class="card-content">
                                    <p class="black-text">{{singleEvent.description}}</p>
                                    <h4><strong>Event Coordinator Details</strong></h4>
                                    <div ng-repeat="coordinator in singleEvent.coordinators">
                                        <h6 class="black-text"><strong>Event Coordinator {{$index+1}}</strong></h6>
                                        <h6 ng-show="coordinator.name!=null && coordinator.name!=''" class="black-text"> <img src="/images/coordinator.svg" width="30px" height="30px"/>{{coordinator.name}}</h6>
                                        <h6 ng-show="coordinator.reg_no!=null && coordinator.reg_no!=''" class="black-text"><img src="/images/id.svg" width="30px" height="40px"/>{{coordinator.reg_no}}</h6>
                                        <h6 ng-show="coordinator.phone!=null && coordinator.phone!=''" class="black-text"><img src="/images/phone.svg" width="30px" height="30px"/>{{coordinator.phone}}</h6>
                                        <h6 ng-show="coordinator.email!=null && coordinator.email!=''" class="black-text"><img src="/images/mail.svg" width="30px" height="30px"/>{{coordinator.email}}</h6>
                                        <br>
                                    </div>
                                    <br>
                                    <h4 class="black-text"><strong>Participation Fees: </strong>{{singleEvent.participationFee}}</h4>
                                    <h4 class="black-text"><Strong>Team Size: </Strong>{{singleEvent.teamSize}}</h4>

                                </div>
                            </div>

                        </div>
                </div>

<div class="hide-on-med-and-down">

</div>
                        </div>
                <div id="bottom_fade" ng-hide="showSingleEvent">

                </div>
                <div class="overlay" ng-show="showSingleEvent" ng-click="hideEvent()"></div>
                </div>



    </ul>
</div>
<!--<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/events") == -1) {
            window.location.assign("/index#/events")
        }
    };
</script>-->