<!DOCTYPE html>
<html ng-app="gravitas">
<head lang="en">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="Gravitas 2015 was an international Technical fest. This page contains glimpses of the fest.">
    <meta name="keywords" content="gravitas | memories | gravitas15 | 2015 | technical | fest | festival | college | engineering | graVITas16 | 2016 | VIT University | Technical Fest | Vellore | 632014">
    <meta content="index, follow" name="robots" />
    <meta content="index, follow" name="googlebot" />
    <meta charset="utf-8">
    <link href="/images/favicon-96x96.png" rel="icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <title>graVITas'16 | VIT University | Technical Fest | Vellore - 632014</title>
    <link href="/stylesheets/material-cards.css" rel="stylesheet">
    <link href="/bower/materialize/dist/css/materialize.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/loading-bar.min.css"/>
    <link href="/stylesheets/home2.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css" type="text/css">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-78645903-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="https://apis.google.com/js/client.js?onload=authorize" ></script>
    <script>
        var views = 0;
        document.getElementById('pageViews').innerHTML = views.toString();



        function authorize(){
            var c = "https://root-station-116018.appspot.com/query?id=ahVlfnJvb3Qtc3RhdGlvbi0xMTYwMThyFQsSCEFwaVF1ZXJ5GICAgICAgIAKDA";
            var z = new XMLHttpRequest();
            try{
                // Opera 8.0+, Firefox, Chrome, Safari
                z = new XMLHttpRequest();
            }catch (e){
                // Internet Explorer Browsers
                try{
                    z = new ActiveXObject("Msxml2.XMLHTTP");

                }catch (e) {

                    try{
                        z = new ActiveXObject("Microsoft.XMLHTTP");
                    }catch (e){
                        // Something went wrong
                        alert("Your browser broke!");
                        return false;
                    }

                }
            }

            z.onreadystatechange = function(){

                if (z.readyState == 4  && z.status==200){
                    // Javascript function JSON.parse to parse JSON data
                    var jsonObj = JSON.parse(z.responseText);

                    // jsonObj variable now contains the data structure and can
                    // be accessed as jsonObj.name and jsonObj.country.
                   views = jsonObj.rows[0][0]
                    document.getElementById('pageViews').innerHTML = views.toString()

                }
            }
            z.open("GET", c, true);
            z.send();
        }

    </script>
    <style>
        .blink_me {
            animation: blinker 1s linear infinite;
        }

        @keyframes blinker {
            50% { opacity: 0.0; }
        }
    </style>
</head>
<body>
<div id="loader-wrapper">
    <div id="loader">
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</div>
<div id="whole">
    <div class="graphics">
        <h1 style="display: none">gravitas 16</h1>
        <!--<img src="/images/vit.png"/>-->
    </div>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper z-depth-3">
                <div class="brand-logo col m3 l3 s4" id="gravitas-logo"><a href="#/"> <img src="/images/gravitas.png"/></a></div>
                    <ul class="large-visible hits"><li><strong>Hits: </strong><span id="pageViews"></span></li></ul>
                <ul class="right large-visible">
                    <li><a href="http://register.vitgravitas.com/external/register" target="_blank" style="font-size: 80%;"> Register/Login</a></li>
                    <li><a href="/images/brochure.pdf" target="_blank" style="font-size: 80%;"> graVITas E-Brochure</a></li>
                    <li><div id="vit"><a href="http://www.vit.ac.in"  target="_blank"> <img src="/images/vitlogowhitepng.png" align="center" style="" /></a></div></li>

                </ul>

                <a href="#" data-activates="mobile-demo" class="button-collapse large-not-visible"><i class="material-icons">menu</i></a>
                <ul class="side-nav large-not-visible" id="mobile-demo">
                    <li class="waves-effect waves-teal" ><a href="/images/brochure.pdf" target="_blank"><h5 style="font-size: 125%"> graVITas E-Brochure</h5></a></li>
                    <li class="waves-effect waves-teal"><a href="#/" id="home2" style="padding-left: 0"><img class="left" src="/images/home.svg" style="margin-top: 18px; margin-right: 5px; margin-left: 20px;float: left;width: 30px;height: 30px;vertical-align: baseline;"><p style="margin-top: 0;">Home</p></a></li>
                    <li class="waves-effect waves-teal"><a href="#/about" id="about2" class="modal-trigger"><img class="left" src="/images/info.svg"><p>About</p></a></li>
                    <li class="waves-effect waves-teal"><a href="#/events" id="events2" style="padding-left: 0"><img class="left" src="/images/events.svg" style="margin-top: 18px; margin-right: 5px; margin-left: 20px;float: left;width: 30px;height: 30px;vertical-align: baseline;"><p style="margin-top: 0">Events</p></a></li>
                    <li class="waves-effect waves-teal"><a href="#register" class="modal-trigger"><img class="left" src="/images/register.svg"><p>Register</p></a></li>
                    <li class="waves-effect waves-teal"><a href="#sponsors" class="modal-trigger"><img class="left" src="/images/sponsors.svg"><p>Sponsors</p></a></li>
                    <li class="waves-effect waves-teal"><a href="#team" class="modal-trigger"><img class="left" src="/images/team.svg"><p>Team graVITas</p></a></li>
                    <li class="waves-effect waves-teal"><a href="#contact" class="modal-trigger"><img class="left" src="/images/contact.svg"><p>Contact</p></a></li>

                </ul>
            </div>
        </nav>
    </div>
<!-- views will be loaded here -->
    <ng-view>

    </ng-view>

<div class="dock large-visible" id="dock2">
    <div class="dock-container2">
        <a class="dock-item2" href="#/" id="home"><span class="tool">HOME</span><img src="/images/home.svg" alt="home" style=" padding: 5px"/></a>
        <a class="dock-item2" href="#/about" id="about"><span class="tool">ABOUT</span><img src="/images/info.svg" alt="about" style=" padding: 5px"/></a>
        <a class="dock-item2" href="#/schedule" id="schedule"><span class="tool">SCHEDULE</span><img src="/images/schedule.svg" alt="schedule" style=" padding: 12px"/></a>
        <a class="dock-item2" href="#/events" id="events"><span class="tool">EVENTS</span><img src="/images/events.svg" alt="events" style=" padding: 5px"/></a>
        <a class="dock-item2" href="#/register" id="register"><span class="tool">REGISTER</span><img src="/images/register.svg" alt="Register" style=" padding: 5px"/></a>
        <a class="dock-item2" href="#/sponsors" id="sponsors"><span class="tool">SPONSORS</span><img src="/images/sponsors.svg" alt="sponsors" style=" padding: 5px"/></a>
        <a class="dock-item2" href="#/team" id="tg"><span class="tool">TEAM GRAVITAS</span><img src="/images/team.svg" alt="links" style=" padding: 5px"/></a>
        <a class="dock-item2" href="#/contact" id="cpg"><span class="tool">CONTACT</span><img src="/images/contact.svg" alt="contact" style=" padding: 5px"/></a>

    </div>
</div>
  <!--  <div class="blink_me fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a href="/images/merch.jpg" target="_blank" class="tooltipped btn-floating btn-large red" data-position="left" data-delay="50" data-tooltip="Merchandise, Buy 2 Get 1 Free!">
            <img src="/images/tshirt.svg" width="30px" height="30px" style=" position: absolute; bottom: 12px; right: 12px">
        </a>
    </div>-->
    <div class="stupid_icons">

        <div class="fixed-action-btn" style="top: 60px; right: 14px; margin: 10px;">
            <a href="#" target="_blank" class="btn-floating btn-medium pink">
                <img src="/images/windows.svg" width="20px" height="20px" style=" position: absolute; bottom: 10px; right: 10px">
            </a>

        </div>
        <div class="fixed-action-btn" style="top: 120px; right: 14px;  margin: 10px;">
            <a href="#" target="_blank" class="btn-floating btn-medium blue">
                <img src="/images/apple.svg" width="20px" height="20px" style=" position: absolute; bottom: 10px; right: 8px">
            </a>

        </div>
        <div class="fixed-action-btn" style="top: 180px; right: 14px;  margin: 10px;">
            <a href="#" target="_blank" class="btn-floating btn-medium yellow">
                <img src="/images/android.svg" width="20px" height="20px" style=" position: absolute; bottom: 10px; right: 8px">
            </a>

        </div>
        <div class="blink_me fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a href="/images/merch.jpg" target="_blank" class="tooltipped btn-floating btn-large red" data-position="left" data-delay="50" data-tooltip="Merchandise, Buy 2 Get 1 Free!">
                <img src="/images/tshirt.svg" width="30px" height="30px" style=" position: absolute; bottom: 12px; right: 12px">
            </a>
        </div>
    </div>
    <div id="bottom_fade">
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters">
    <defs>
        <filter id="blur">
            <feGaussianBlur in="SourceGraphic" stdDeviation="0,0" />
        </filter>
    </defs>
</svg>
    </div>
<footer class="page-footer large-not-visible">
    <div class="footer-copyright">
        <div class="container">
            © 2016 graVITas
            <a class="grey-text text-lighten-4 right" href="https://www.vit.ac.in"><img src="/images/vitlogowhitepng.png" align="center"/></a>
        </div>
    </div>
</footer>
</div>
<div id="bottom_fade">

</div>
<!--dock menu JS options -->
<script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(

            function()
            {
                $(document).ready(function(){
                    $('.tooltipped').tooltip({delay: 50});
                });
                $('#dock').Fisheye(
                        {
                            //maxWidth: 50,
                            items: 'a',
                            itemsText: 'span',
                            container: '.dock-container',
                            itemWidth: 40,
                            proximity: 90,
                            halign : 'center'
                        }
                );
                $('#dock2').Fisheye(
                        {
                            //maxWidth: 100,
                            items: 'a',
                            itemsText: 'span',
                            container: '.dock-container2',
                            itemWidth: 70,
                            proximity: 85,
                            alignment : 'left',
                            valign: 'bottom',
                            halign : 'center'
                        }
                )
            }
    );

</script><script type="text/javascript" src="/bower/materialize/dist/js/materialize.js"></script>

<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.js"></script>-->


<script src="/javascripts/jquery.material-cards.js"></script>
<script type="text/javascript" src="/javascripts/interface.js"></script>
<script src="javascripts/wow.js"></script>
<!-- angular scripts -->
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-route/angular-route.min.js"></script>
<script src="/bower/angular-loading-bar/build/loading-bar.min.js"></script>
<script type="text/javascript" src="/javascripts/angular_app/app.js"></script>
<script type="text/javascript" src="/javascripts/angular_app/controllers.js"></script>
<script type="text/javascript" src="/javascripts/angular_app/routes.js"></script>
<script type="text/javascript" src="/javascripts/angular_app/helpers.js"></script>
<script>
$('.button-collapse').sideNav({
closeOnClick: true
});
</script>
<script>
    new WOW().init();
</script>


<script>
    body.addEventListener('mousemove',authorize);
</script>
</body>
</html>