<!-- make this work -->

<div ng-app>
<div id="home" ng-init="setup()">
    <div class="content">
<div class="container">
    <div class="row">


        <div class="col l12 m12 s12">
        <div class="gravitas" style="">
            <h5 class="center" style="color: white; font-size: 3em; font-weight: 500; margin-top:2%">VIT University <span style="font-size: 1em">and</span> <img src="/images/classic-polo.png" width="30%" height="40%" style="display:inline; vertical-align: middle;"> <br></h5>
            <h5 style="color: white; font-size: 1.5em">co-present<br></h5>
        </div>
            </div>
        <div class="col l4 m4 s12">
            <h5 class="white-text">Digital Partner</h5>
            <img src="http://res.cloudinary.com/events-gravitas/image/upload/c_scale,h_100,q_100,w_200/v1474195434/campus.png" width="50%" height="50%"  align="center" style="display:inline; margin-left: 30%; vertical-align: middle;">
        </div>
            <div class="col l4 m4 s12">
             <div class="row center"><img src="/images/gravitas.png" width="90%"/></div>

            </div>


        <div class="col l4 m4 s12">
            <h5 class="white-text">Print Media Partner</h5>
            <img src="http://res.cloudinary.com/events-gravitas/image/upload/c_scale,h_100,q_100,w_200/v1474195769/hindu.jpg" width="50%" height="50%"  align="center" style="display:inline;  vertical-align: middle;margin-left: 30%;">
        </div>
        </div>
<div class="container">
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image"><img src="http://res.cloudinary.com/events-gravitas/image/upload/c_thumb,g_north,h_300,q_100,w_300/v1474195265/ranganathan.jpg" width="50%" height="50%"></div>
            <div class="card-content" align="center">Shri C.K Ranganathan</div>
            <h5 align="center">Founder and Chairman
            CavinKare Group,
            Chennai</h5>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image"><img src="http://res.cloudinary.com/events-gravitas/image/upload/c_thumb,g_north,h_300,q_99,w_300/v1474196119/raj.jpg" width="50%" height="50%"> </div>
                <div class="card-content" align="center">Shri Raj Chengappa</div>
                <h5 align="center">Group Editorial Director
                    India Today  Group,
                    New Delhi</h5>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image"><img src="http://res.cloudinary.com/events-gravitas/image/upload/c_thumb,g_north,h_300,q_100,w_300/v1474196332/naresh.jpg"> </div>
                <div class="card-content" align="center">Shri Naresh Shah
                <h5 align="center">Vice President
                    HP Enterprise Group,
                    Bengaluru</h5>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>

        <!--<div class="container">
        <div class="row" >
        <div class="col l3 m12 s12" ng-repeat="x in speaker">
            <div class="card ">
                <div class="card-image waves-effect waves-block waves-light responsive-img">
                    <img class="activator" ng-src="{{x.photo}}" style="height: 200px">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{x.name}}<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{x.speaker_name}}<i class="material-icons right">close</i></span>
                    <p align="justify">{{x.designation}}</p>
                </div>
            </div>
        </div>
            </div>
            </div>-->
           <!-- <div class="col l3 m12 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light responsive-img">
                        <img class="activator" src="/images/somitra.png" style="height: 200px">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">CRYPTOGRAPHY WORKSHOP<i class="material-icons right">more_vert</i></span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Mr. Somitra Kumar Sanadhya<i class="material-icons right">close</i></span>
                        <h4>Education</h4><hr>
                        <p>Ph. D. (2009) Indian Statistical Institute, Kolkata<br>
                            M.Tech. (2002) Jawaharlal Nehru University, Delhi<br>
                            B. Tech. (1994) Indian Institute of Technology, Delhi</p>
                        <p align="justify">Assistant Professor at IIIT Delhi since Jan, 2010 and Adjunct Assistant

                            Professor at CR Rao AIMSCS, Hyderabad since Oct 2011. Founding member

                            of Cryptology Research Group (CRG) at IIIT Delhi.</p>
                    </div>
                </div>
        </div>-->


</div>
    </div>
</div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters">
    <defs>
        <filter id="blur">
            <feGaussianBlur in="SourceGraphic" stdDeviation="0,0" />
        </filter>
    </defs>
</svg>
<!--<script type="text/javascript" src="/javascripts/TweenMax.min.js"></script>-->

<!--<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/main") == -1) {
            window.location.assign("/#/main")
        }
    };
</script>-->
