<!-- make this work -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

<script>

        $('.collapsible').collapsible({
            accordion : true// A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });

</script>
<div id="home" ng-init="setup()">
    <div class="content">
<div class="container">
    <div class="row">
    <div class="col l6 m12 s12">
        <div class="gravitas">
            <h5 class="center" style="color: white; font-size: 2em; font-weight: 500; margin-top:2%">VIT University and Classic Polo<br></h5>
            <h5 style="color: white; font-size: 1.5em">co-presents<br></h5>
            <h3 class="center" style=" font-weight: 500; color: white; margin-top:2%">graVITas'16<br></h3>
            <h5 style="color: white; font-size: 1.5em">in association with digital partner<br></h5>
            <h5 style="color: white;font-weight: 500;font-size: 2em; font-weight: 500; margin-top:2% ">Classic Polo</h5>
            </div>
        </div>
        <div class="col l6 m12 s12">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">First Section</div>
                    <div class="collapsible-body"><p>This is first section.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">Second Section</div>
                    <div class="collapsible-body"><p>This is second section.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">Third Section</div>
                    <div class="collapsible-body"><p>This is third section.</p></div>
                </li>
            </ul>
        </div>
    </div>
</div>
    </div>
</div>


<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters">
    <defs>
        <filter id="blur">
            <feGaussianBlur in="SourceGraphic" stdDeviation="0,0" />
        </filter>
    </defs>
</svg>
<!--<script type="text/javascript" src="/javascripts/TweenMax.min.js"></script>-->

<!--<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/main") == -1) {
            window.location.assign("/#/main")
        }
    };
</script>-->
