<!-- make this work -->

<div id="home">
    <div class="content">
        <div class="gravitas">
            <ul class="gravitas-section " >
                <li class="cards" id="first" >

                    <svg viewBox="0 0 800 600" class="card-gravitas z-depth-2">
                        <symbol id="s-text">
                            <text text-anchor="middle"
                                  x="50%"
                                  y="35%"
                                  class="text--line"
                                    >
                                graVITas
                            </text>
                            <text text-anchor="middle"
                                  x="50%"
                                  y="68%"
                                  class="text--line2"
                                    >
                                2016
                            </text>

                        </symbol>

                        <g class="g-ants">
                            <use xlink:href="#s-text"
                                 class="text-copy" id="gravitas"></use>
                            <use xlink:href="#s-text"
                                 class="text-copy" id="gravitas"></use>
                            <use xlink:href="#s-text"
                                 class="text-copy" id="gravitas"></use>
                            <use xlink:href="#s-text"
                                 class="text-copy" id="gravitas"></use>
                            <use xlink:href="#s-text"
                                 class="text-copy" id="gravitas"></use>
                        </g>


                    </svg>
                </li>
                <li class="cards large-visible">
                    <svg viewBox="0 0 1000 600" class="card-gravitas z-depth-2">
                        <symbol id="g-text">
                            <text text-anchor="middle"
                                  x="50%"
                                  y="25%"
                                  class="text--line"
                                    >
                                Reduce
                            </text>
                            <text text-anchor="middle"
                                  x="50%"
                                  y="45%"
                                  class="text--line2"
                                    >
                                Reuse
                            </text>
                            <text text-anchor="middle"
                                  x="50%"
                                  y="65%"
                                  class="text--line2"
                                    >
                                Recycle
                            </text>

                        </symbol>

                        <g class="g-ants">
                            <use xlink:href="#g-text"
                                 class="text-copy" id="reduce"></use>
                            <use xlink:href="#g-text"
                                 class="text-copy" id="reduce"></use>
                            <use xlink:href="#g-text"
                                 class="text-copy" id="reduce"></use>
                            <use xlink:href="#g-text"
                                 class="text-copy" id="reduce"></use>
                            <use xlink:href="#g-text"
                                 class="text-copy" id="reduce"></use>
                        </g>


                    </svg>
                </li>
                <li class="cards large-visible">
                    <svg viewBox="0 0 800 600" class="card-gravitas z-depth-2">
                        <symbol id="water-text">
                            <text text-anchor="middle"
                                  x="50%"
                                  y="35%"
                                  class="text--line"
                                    >
                                Save
                            </text>
                            <text text-anchor="middle"
                                  x="50%"
                                  y="68%"
                                  class="text--line2"
                                    >
                                Water
                            </text>

                        </symbol>

                        <g class="g-ants">
                            <use xlink:href="#water-text"
                                 class="text-copy" id="water"></use>
                            <use xlink:href="#water-text"
                                 class="text-copy" id="water"></use>
                            <use xlink:href="#water-text"
                                 class="text-copy" id="water"></use>
                            <use xlink:href="#water-text"
                                 class="text-copy" id="water"></use>
                            <use xlink:href="#water-text"
                                 class="text-copy" id="water"></use>
                        </g>


                    </svg>
                </li>
                <li class="cards large-visible">
                    <svg viewBox="0 0 800 600" class="card-gravitas z-depth-2 ">
                        <symbol id="energy-text">
                            <text text-anchor="middle"
                                  x="50%"
                                  y="35%"
                                  class="text--line"
                                    >
                                Conserve
                            </text>
                            <text text-anchor="middle"
                                  x="50%"
                                  y="68%"
                                  class="text--line2"
                                    >
                                Energy
                            </text>

                        </symbol>

                        <g class="g-ants">
                            <use xlink:href="#energy-text"
                                 class="text-copy" id="energy"></use>
                            <use xlink:href="#energy-text"
                                 class="text-copy" id="energy"></use>
                            <use xlink:href="#energy-text"
                                 class="text-copy" id="energy"></use>
                            <use xlink:href="#energy-text"
                                 class="text-copy" id="energy"></use>
                            <use xlink:href="#energy-text"
                                 class="text-copy"id="energy"></use>
                        </g>


                    </svg>
                </li>


            </ul>
            <div class="gallery-pagination large-visible">
                <button class="gallery-pagination-dot" id="b1"></button>
                <button class="gallery-pagination-dot" id="b2"></button>
                <button class="gallery-pagination-dot" id="b3"></button>
                <button class="gallery-pagination-dot" id="b4"></button>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/main") == -1) {
            window.location.assign("/#/main")
        }
    };
</script>