
<div ng-app="ng-scope" ng-init="formTeam()">
<div id="organizers" class="organizers">
<h1 class="center" style="color: white;">Organizers</h1>
    <div class="container">
        <div class="card">
            <div class="row"  ng-repeat="team in teams">

                    <h3 class="card-title">{{team}}</h3>
                    <hr style="width: 80%">
                    <div class="col s10 m4 l3 offset-s1 card-content" ng-repeat="org in organizer" ng-if="org.committee==team">
                        <img src="{{org.url}}" class="img-circle img-thumbnail card-image" width="100px" height="100px">
                        <h5 class="center">{{org.name}}</h5>
                    </div>



            </div>
        </div>
    </div>
</div>
</div>
