
<div ng-app>
<div id="organizers" class="organizers">
<h1 class="center" style="color: white;">Organizers</h1>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card z-depth-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
                    <div class="card-content">
                        <div class="container">
                            <div class="row"  ng-repeat="org in organizer">
                                <div class="col s12 l3 m3">
                                    <img src="{{org.url}}" alt="{{org.name}}" style="width: 100px; height: 100px;">
                                    <h3>{{org.name}}</h3>
                                    <h5>{{org.committee}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
</div>
