<div ng-init="setup()">
    <div id="papers" class="papers">
        <div class="container center">
            <h1 style="text-align: center" class="white-text">Call for Papers</h1>
            <div class="row card" style="margin-bottom: 10%">
                <div class="col s12 m12 m12">
                <h4 class="center"><small>Call for Papers to be published on International techfest graVITas '16 under the theme </small>Engineering for Changing Life</h4>
                </div>
                <div class="col s12 l12 m12">
                    <h4 class="center">Scope of the International Techfest</h4>
                    <p class="center" >graVITas is VIT University's annual knowledge carbnival which aims to empower the young minds by giving them a national as well international platform to showcase their genius and innovation. It is spread over 5 days with over 100 technical events and 50 technical workshops witnessed with over 30,000 footfalls. This is 8th edition of graVITas which has become one of the largest techfest of its kind.<br>In continuation to previous editions of graVITas, we would like to showcase various scientific contributions in all forms of engineering fields by publishing special editions in journals and books titled " Engineering for Changing Life".</p>
                </div>

                <div class="col s12 l12 m12">
                    <h4 class="center">Call for Papers</h4>
                    <p class="center">Original research papers are invited in the following engineering domains as well as relevant to the theme of the techfest from academicians, research scholars, UG?PG students and working professionals. Papers can be submitted on IEEE format on the following different tracks.</p>
                </div>
                <div class="col s12 m11 offset-m1">
                    <p><strong>Track 1: </strong>Biotechnology and Life Sciences / Biomedical Engineering</p>
                </div>

                <div class="col s12 m11 offset-m1">
                    <p><strong>Track 2: </strong>Mechanical / Automobile Engineering</p>
                </div>

                <div class="col s12 m11 offset-m1">
                    <p><strong>Track 3: </strong>Computer Engineering / Information Technology</p>
                </div>

                <div class="col s12 m11 offset-m1">
                    <p><strong>Track 4: </strong>Electrical / Electronics and Instrumentation / Electronics and Communication Engineering</p>
                </div>

                <div class="col s12 m11 offset-m1">
                    <p><strong>Track 5: </strong>Civil / Chemical Engineering</p>
                </div>

                <div class="col s12 m11 offset-m1">
                    <p><strong>Track 6: </strong>Science and Languages</p>
                </div>
                <div class="col s12 m11 offset-m1">
                    <p><strong>Track 7: </strong>Business and Management</p>
                </div>

                <div class="col s12 m12 l12">
                    <h4 class="center">Publishing journals / Books</h4>
                    <p class="center">All the submitted papers will be checked for plagiarism and peer reviewed. Selected papers wil be published in Scopus Indexed Journals/ NON-Scopus indexed Journals / Books with ISBN.</p>
                </div>

                <div class="col s12 m12 l12">
                    <h4 class="center">Registration Details</h4>
                    <p class="center">Each paper has to be registered with registration fee <strong>Rs. 600/paper </strong> for uploading their manuscript for further review process.<br><strong>To upload your papers, visit <a href="http://register.vitgravitas.com/external/register">register</a> with us and click on the link in the top-right corner in the login.</strong></p>
                </div>
                <img src="/images/papersPoster.jpg"  style="width: 60%; left: 20%"/>

            </div>
        </div>
    </div>
</div>
