<script src="/bower/materialize/dist/js/materialize.min.js"></script>
<div ng-app>
    <ul>
            <div id="schedule" class="schedule">
                <div class="container">
                    <div class=" card z-depth-2 scrollable">

                            <div class="row fixed">

                                <div class="col s12 l12 m12">
                                    <ul class="tabs">
                                        <li class="tab col s3"><a class="active" href="#tenth" ng-click="showSchedule('10-09-2016')">10 Sept</a></li>
                                        <li class="tab col s3"><a class="" href="#eleventh" ng-click="showSchedule('11-09-2016')">11 Sept</a></li>
                                        <li class="tab col s3"><a class="" href="#seventeenth" ng-click="showSchedule('17-09-2016')">17 Sept</a></li>
                                        <li class="tab col s3"><a class="" href="#eighteenth" ng-click="showSchedule('18-09-2016')">18 Sept</a></li>
                                        <li class="tab col s3"><a class="" href="#twentieth" ng-click="showSchedule('20-09-2016')">20 Sept</a></li>
                                        <li class="tab col s3"><a class="" href="#twentyone" ng-click="showSchedule('21-09-2016')">21 Sept</a></li>
                                        <li class="tab col s3"><a class="" href="#twentythree" ng-click="showSchedule('23-09-2016')">23 Sept</a></li>
                                        <li class="tab col s3"><a class="" href="#twentyfour" ng-click="showSchedule('24-09-2016')">24 Sept</a></li>
                                        <li class="tab col s3"><a class="" href="#twentyfive" ng-click="showSchedule('25-09-2016')">25 Sept</a></li>
                                    </ul>

                                </div>
                            </div>
                        <hr class="fixed">
                        <div class="container actual-schedule">
                            <div class="row">
                                <div class="col s4 m4 l4"><h4 class="center">Event Name</h4></div>
                                <div class="col s4 m4 l4"><h4 class="center">Time</h4></div>
                                <div class="col s4 m4 l4"><h4 class="center">Venue</h4></div>
                            </div>
                            <div class="row" ng-repeat="s in schedule" ng-show="s.startDate==selectedDate">

                                <div class="col s4 m4 l4"><p class="center">{{s.name}}</p></div>
                                <div class="col s4 m4 l4"><p class="center" ng-repeat="i in range(0,s.startTime.length,1)">{{s.startTime[i]}}-{{s.endTime[i]}}<br></p></div>
                                <div class="col s4 m4 l4"><p class="center" ng-repeat="i in range(0,s.venue.length,1)">{{s.venue[i]}}<br></p></div>

                    </div>
                </div>
            </div>
        </ul>
    </div>-->

<script>
    $('ul.tabs').tabs();

    var checkTabs = function(){
        $('ul.tabs').tabs();
        var active = $('ul.tabs .active').attr('href');
        $('.tabs-content ' + active).show();
    }
</script>

<!--<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/events") == -1) {
            window.location.assign("/index#/events")
        }
    };
</script>-->