<script src="/bower/materialize/dist/js/materialize.min.js"></script>
<div ng-app>
    <ul>
            <div id="schedule" class="schedule">
                <div class="container">
                    <div class="card z-depth-2">
                        <div class="row fixed">

                            <div class="col s12">
                                <ul class="tabs ">
                                    <li class="tab col s3"><a class="menu active" >10 Sept</a></li>
                                    <li class="tab col s3"><a class="menu">11 Sept</a></li>
                                    <li class="tab col s3"><a class="menu">17 Sept</a></li>
                                    <li class="tab col s3"><a class="menu">18 Sept</a></li>
                                    <li class="tab col s3"><a class="menu">20 Sept</a></li>
                                    <li class="tab col s3"><a class="menu">21 Sept</a></li>
                                    <li class="tab col s3"><a class="menu">23 Sept</a></li>
                                    <li class="tab col s3"><a class="menu">24 Sept</a></li>
                                    <li class="tab col s3"><a class="menu">25 Sept</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col s4 l4 m4"><h5>Event Name</h5></div>
                            <div class="col s4 m4 l4"><h5>Timing</h5></div>
                            <div class="col s4 m4 l4"><h5>Location</h5></div>
                        </div>
                        <div id="tenth" class="row" ng-repeat="event in dates.tenth" >


                            <div ng-repeat="i in range(0,event.length)">
                                <div class="col s4 l4 m4"><p ng-if="i==0 && flag==0">{{event[0]}}</p></div>
                               <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0 && i!=13 ">{{(i-1)*2}}:00 onwards</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0">{{event[i]}}</p></div>
                            </div>

                        </div>
                        <div id="eleventh" class="row" ng-repeat="event in dates.eleventh">
                            <div ng-repeat="i in range(0,event.length)">
                                <div class="col s4 l4 m4"><p ng-if="i==0 && flag==0">{{event[0]}}</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0 && i!=13 ">{{(i-1)*2}}:00 onwards</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0">{{event[i]}}</p></div>
                            </div>

                        </div>
                        <div id="seventeenth" class="row" ng-repeat="event in dates.seventeenth">
                            <div ng-repeat="i in range(0,event.length)">
                                <div class="col s4 l4 m4"><p ng-if="i==0 && flag==0">{{event[0]}}</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0 && i!=13 ">{{(i-1)*2}}:00 onwards</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0">{{event[i]}}</p></div>
                            </div>
                        </div>
                        <div id="eighteenth" class="row" ng-repeat="event in dates.eighteenth">
                            <div ng-repeat="i in range(0,event.length)">
                                <div class="col s4 l4 m4"><p ng-if="i==0 && flag==0">{{event[0]}}</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0 && i!=13 ">{{(i-1)*2}}:00 onwards</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0">{{event[i]}}</p></div>
                            </div>
                        </div>
                        <div id="twentieth" class="row" ng-repeat="event in dates.twentieth">
                            <div ng-repeat="i in range(0,event.length)">
                                <div class="col s4 l4 m4"><p ng-if="i==0 && flag==0">{{event[0]}}</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0 && i!=13 ">{{(i-1)*2}}:00 onwards</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0">{{event[i]}}</p></div>
                            </div>
                        </div>
                        <div id="twentyone" class="row" ng-repeat="event in dates.twentyone">
                            <div ng-repeat="i in range(0,event.length)">
                                <div class="col s4 l4 m4"><p ng-if="i==0 && flag==0">{{event[0]}}</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0 && i!=13 ">{{(i-1)*2}}:00 onwards</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0">{{event[i]}}</p></div>
                            </div>

                        </div>
                        <div id="twentythree" class="row" ng-repeat="event in dates.twentythree">
                            <div ng-repeat="i in range(0,event.length)">
                                <div class="col s4 l4 m4"><p ng-if="i==0 && flag==0">{{event[0]}}</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0 && i!=13 ">{{(i-1)*2}}:00 onwards</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0">{{event[i]}}</p></div>
                            </div>

                        </div>
                        <div id="twentyfour" class="row" ng-repeat="event in dates.twentyfour">
                            <div ng-repeat="i in range(0,event.length)">
                                <div class="col s4 l4 m4"><p ng-if="i==0 && flag==0">{{event[0]}}</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0 && i!=13 ">{{(i-1)*2}}:00 onwards</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0">{{event[i]}}</p></div>
                            </div>
                        </div>
                        <div id="twentyfive" class="row" ng-repeat="event in dates.twentyfive">
                            <div ng-repeat="i in range(0,event.length)">
                                <div class="col s4 l4 m4"><p ng-if="i==0 && flag==0">{{event[0]}}</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0 && i!=13 ">{{(i-1)*2}}:00 onwards</p></div>
                                <div class="col s4 m4 l4"><p ng-if="i >0 && event[i]!='' && flag==0">{{event[i]}}</p></div>
                            </div>

                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>

<script>
    $('a.menu').click(function(){
        $('a.menu').removeClass("active");
        $(this).addClass("active");
    });
</script>

<!--<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/events") == -1) {
            window.location.assign("/index#/events")
        }
    };
</script>-->