<!--<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/sponsors") == -1) {
            window.location.assign("/#/sponsors")
        }
    };
</script>-->
<div id="sponsors" class="sponsors" >

        <h1 align="center" style="color:white!important;">Sponsors</h1>

    <h3 align="center" style="color: white;" >Digital Partner</h3>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6 offset-l3" >
                <div class="card z-depth-2 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="card-image"><img src="/images/campus.PNG" style="padding: 4%;"></div>
                </div>
            </div>
           </div>
        </div>

            <h3 align="center"><span style="color: white;">Sponsors</span></h3>
    <section id="sponsors">
        <div class="container">
        <div class="row">
            <div class="col s12 m4 l4" >
                <div class="card z-depth-2 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="card-image"><img src="/images/schiender.jpg" width="80%%" height="80%"  style="padding: 4%;"></div>
                    <br>
                    <div class="card-content">
                        <h5>Schiender Electric<br></h5>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4" >
                <div class="card z-depth-2 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="card-image"><img src="/images/microsoft.jpg" width="80%%" height="80%"  style="padding: 4%;"></div>
                    <br>
                    <div class="card-content">
                        <h5>Microsoft<br></h5>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4" >
                <div class="card z-depth-2 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="card-image"><img src="/images/ebay.jpg" width="80%%" height="80%"  style="padding: 4%;"></div>
                    <br>
                    <div class="card-content">
                        <h5>Ebay<br></h5>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4" >
                <div class="card z-depth-2 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="card-image"><img src="/images/hpe.jpg" width="80%%" height="80%"  style="padding: 4%;"></div>
                    <br>
                    <div class="card-content">
                        <h5>HP Enterprises<br></h5>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4" >
                <div class="card z-depth-2 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="card-image"><img src="/images/tata.jpg" width="80%%" height="80%"  style="padding: 4%;"></div>
                    <br>
                    <div class="card-content">
                        <h5>Tata Consultancy Services<br></h5>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4" >
                <div class="card z-depth-2 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="card-image"><img src="/images/cognizant.jpg" width="80%%" height="80%"  style="padding: 4%;"></div>
                    <br>
                    <div class="card-content">
                        <h5>Cognizant Technology Solutions<br></h5>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4" >
                <div class="card z-depth-2 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="card-image"><img src="/images/wipro.jpg" width="80%%" height="80%"  style="padding: 4%;"></div>
                    <br>
                    <div class="card-content">
                        <h5>Wipro<br></h5>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4" >
                <div class="card z-depth-2 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="card-image"><img src="/images/infosys.jpg" width="80%%" height="80%"  style="padding: 4%;"></div>
                    <br>
                    <div class="card-content">
                        <h5>Infosys<br></h5>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4" >
                <div class="card z-depth-2 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="card-image"><img src="/images/indian.jpg" width="80%%" height="80%"  style="padding: 4%;"></div>
                    <br>
                    <div class="card-content">
                        <h5>Indian Bank<br></h5>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4" >
                <div class="card z-depth-2 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="card-image"><img src="/images/cub.jpg" width="80%%" height="80%" style="padding: 4%;"></div>
                    <br>
                    <div class="card-content">
                        <h5>City Union Bank<br></h5>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4" >
                <div class="card z-depth-2 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="card-image"><img src="/images/k.jpg" style="padding: 4%;"></div>
                    <br>
                    <div class="card-content">
                        <h5>Kelley<br></h5>
                    </div>
                </div>
            </div>


        </div>

    </div></section>




    </div>
