<!--<script type="text/javascript">
    window.onload = function () {
        if (window.location.href.indexOf("/#/team") == -1) {
            window.location.assign("/#/team")
        }
    };
</script>-->
<div id="team">
    <h1 class="center" style="color: #ffffff">Team graVITas'16</h1>
    <div class="container">
        <div class="row">
            <div class="col s12 l12 m12">
                <div class="card z-depth-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
                    <div class="card-heading"><h4 align="center">Chief Patron</h4></div>
                    <hr>
                    <div class="card-content">
                        <img class="circle responsive-img" src="/images/GV.jpg"/>
                        <p>Dr. G. Viswanathan<br>Chancellor & Founder<br>VIT University</p>
                    </div>
                </div>
                </div>
            <div class="col s12 l12 m12">
                <div class="card z-depth-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="200ms">
                    <div class="card-heading"><h4 align="center">Patrons</h4></div>

                    <hr>
                    <div class="card-content">
                        <div class="container">
                            <div class="row">
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/ShankarV.jpg"/>
                                    <p>Mr. Sankar Viswanathan<br>Vice President<br>VIT University</p>
                                </div>
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/ShekarV.jpg"/>
                                    <p>Dr. Sekar Viswanathan<br>Vice President<br>VIT University</p>
                                </div>
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/GVS.jpg"/>
                                    <p>Mr. G. V. Selvam<br>Vice President<br>VIT University</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 l12 m12">
                        <div class="card z-depth-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="200ms">
                            <div class="card-heading"><h4 align="center">Co-Patrons</h4></div>

                            <hr>
                            <div class="card-content">
                                <div class="container">
                                <div class="row">
                                    <div class="col s12 m4 l4">
                                        <img class="circle responsive-img" src="/images/AAS.png"/>
                                        <p>Dr. Anand A Samuel<br>Vice Chancellor<br>VIT University</p>
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <img class="circle responsive-img" src="/images/VR.jpg"/>
                                        <p>Dr. V. Raju<br>Pro-Vice Chancellor<br>VIT University</p>
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <img class="circle responsive-img" src="/images/SN.png"/>
                                        <p>Dr. S. Narayanan<br>Pro-Vice Chancellor<br>VIT University</p>
                                    </div>
                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
            <div class="col s12 l12 m12">
                <div class="card z-depth-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="200ms">
                    <div class="card-heading"><h4 align="center">Convenors</h4></div>

                    <hr>
                    <div class="card-content">
                        <div class="container">
                            <div class="row">
                                <div class="col s12 m3 l3">
                                    <img class="circle responsive-img" src="/images/SKK.jpg"/>
                                    <p>Dr. S. Karthi</p>
                                </div>
                                <div class="col s12 m3 l3">
                                    <img class="circle responsive-img" src="/images/naiju.jpg"/>
                                    <p>Dr. C. D. Naiju</p>
                                </div>
                                <div class="col s12 m3 l3">
                                    <img class="circle responsive-img" src="/images/ramesh.jpg"/>
                                    <p>Dr. K. Ramesh Babu</p>
                                </div>
                                <div class="col s12 m3 l3">
                                    <img class="circle responsive-img" src="/images/sudhakar.jpg"/>
                                    <p>Dr. N. Sudhakar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 l12 m12">
                <div class="card z-depth-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="200ms">
                    <div class="card-heading"><h4 align="center">Convenors</h4></div>

                    <hr>
                    <div class="card-content">
                        <div class="container">
                            <div class="row">
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/senthilkumar.PNG"/>
                                    <p>Prof. Senthil Kumar M </p>
                                </div>
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/bala.PNG"/>
                                    <p>Prof.Balasubramanian V</p>
                                </div>
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/saravananaguru.PNG"/>
                                    <p>Prof.Saravananaguru RA  K</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/prabhu.PNG"/>
                                    <p>Prof.Prabhu K R</p>
                                </div>

                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/rameshn.jpg"/>
                                    <p>Prof. Ramesh N</p>
                                </div>
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/sunthi.PNG"/>
                                    <p>Prof.Suthindhiran K</p>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/jaya.PNG"/>
                                    <p>Prof.Jayakumar S</p>
                                </div>
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/bhaskar.PNG"/>
                                    <p>Prof. Bhaskar Das</p>
                                </div>
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/mahesh.PNG"/>
                                    <p>Prof.Mahesh Ganesapillai</p>
                                </div>

                            </div>
                            <div class="row">
                                <!--<div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/saravananaguru.PNG"/>
                                    <p>Prof.Saravananaguru RA  K</p>
                                </div>-->
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/sasikumar.PNG"/>
                                    <p>Prof.Sasikumar P</p>
                                </div>
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/jayaram.PNG"/>
                                    <p>Prof.Jayaram Reddy A</p>
                                </div>
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/saravanan.PNG"/>
                                    <p>Prof.Saravanan B</p>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/joel.PNG"/>
                                    <p>Prof. Joel J</p>
                                </div>



                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/kishore.PNG"/>
                                    <p>Prof.Kishore V Krishnan</p>
                                </div>
                                <div class="col s12 m4 l4">
                                    <img class="circle responsive-img" src="/images/karthikeyan.jpg"/>
                                    <p>Prof.Karthikeyan J</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>