body{
    color: black;
    background-color: #ffffff;
    font-size: larger;
}
nav
{
    background-color: rgb(0, 153, 153);
    z-index: 100;
    font-size: large;
    position: fixed;
    height: 7%;
    color: white;
    left: 0;
    width: 50%;
}
nav .brand-logo{
    z-index: 0;
}
#large{
    position: relative;
}
#images{
    height: auto;
}
#images img{
    top: 0;
    bottom: 0;
    padding: 5px;
    z-index: 0;
}
. gallery img{
    padding: 0;
    margin: 0;
    margin-top: 7%;
    border: solid #009999 3px;
}
#large img{
    box-shadow: 0 5px 5px rgba(206, 206, 206, 0.45);
    z-index: 10;
    padding: 7px;
    top: 4%;
    border: solid #009999 4px;
    height: 100%;
}
.heading{
    padding-top: 60px;
    color: black;
    padding-bottom:0;
    margin-bottom: 0;
}
.heading a{
    text-decoration: none;
    color: #009999;
}
.heading a:hover {
    border-bottom: solid #009999 5px;
}
.overlay{
    background-color: rgba(255, 132, 38, 0);
    z-index: 20;
}
.overlay:hover{
    background-color: rgba(0, 153, 153, 0.42);
    z-index: 20;
}
#back{
    padding-top: 0;
}
.material-icons{
    font-size: x-large;
    color: #009999;
    cursor: pointer;
}
#content{
    color: #747474;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    font-size: medium;
    text-align: right;
}
h3{
    padding-top: 0;
    margin-top: 2px;
}
