body{
    color: white;
    background-color: #313231;
    font-size: larger;
}
nav
{
    background-color: rgb(79, 81, 79);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.53);
    z-index: 100;
    font-size: xx-large;
    position: fixed;
    height: auto;
}
.navbar-fixed{
    display: none;

}
nav .brand-logo{
    z-index: 0;
}
#large{
    position: fixed;
    left: 50%;
}
#images img{
    top: 0;
    bottom: 0;
    padding: 5px;
    z-index: 0;
}
img{
    padding: 0;
    margin: 0;
    margin-top: 7%;
    border: solid black 3px;
}
#large img{
    border: solid black 0;
    box-shadow: 0 5px 5px rgba(206, 206, 206, 0.45);
    z-index: 10;
}
.heading{
    padding-top: 15%;
    color: white;
}
.heading a{
    text-decoration: none;
    color: white;
}
.heading a:hover {
    border-bottom: solid #ff8426 5px;
}
.precious{
    border: solid white 2px;
}
.overlay{
    background-color: rgba(255, 132, 38, 0);
    z-index: 20;
}
.overlay:hover{
    background-color: rgba(255, 132, 38, 0.42);
    z-index: 20;
}
