#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;

    border: 3px solid #ff8d4e;
    z-index: 1500;
    border: 3px solid transparent;
    border-top-color: #ffdf38;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;

}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid #ff8635;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid #ffde3d;
}
#loader {
 }
#loader:before {
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
#loader:after {
    border: 3px solid transparent;
    border-top-color: #a8ff3a;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
#loader {
    border-radius: 50%;
}
#loader:before {
    border-radius: 50%;
}
#loader:after {
    border-radius: 50%;
}
#loader {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
       -ms-transform: rotate(0deg);  /* IE 9 */
       transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
}
#loader-wrapper
{
    background-color: #3f51b5;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}
#loader {
    z-index: 2000; /* anything higher than z-index: 1000 of .loader-section */
}

h1 {
    color: #EEEEEE;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader {
    opacity: 0;
}
.loaded #loader-wrapper {
    visibility: hidden;
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
}
.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 0.3s 0.6s ease-out;
    transition: all 0.3s 0.6s ease-out;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}
body {
    /**background: url('/images/homeback.jpg');**/
    /*background-color: #f57951;*/
	/*font: 16em/1 Arial;*/
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
    height: 100%;


}
#home
{
    width: 100%;
}
img {
	border: none;
}
#about1 {
    margin-top: 0;
   font-family: papyrus;
    padding: 40px;
    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 0px;
}
.heading
{
    text-align: center;
    font-size: 40px;
    font-family: papyrus;
    color: #E7D84B;
    -webkit-animation:opacity 12s ease-in backwards;
    text-shadow: 0px 0px 1px #fff;
}

#about1,#guests1,#events1,#schedule1,#register1,#sponsors1,#tg1,#cpg1
{
    display: none;
}
/* dock2 - bottom */
#dock2 {
	width: 100%;
	bottom: 50px;
	position: fixed;
	left: 0px;
}
.dock-container2 {
	position: absolute;
	height: 50px;
	padding-left: 80px;
}
a.dock-item2 {
	display: block;
	font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
	width: 70px;
	color: #525252;
	bottom: 0px;
    margin-left: 10px;
	position: absolute;
	text-align: center;
	text-decoration: none;
}
.dock-item2 span {
	display: none;
	padding-left: 0;
}
.dock-item2 img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 85%;

}
.text--line {
    font-size: .5em;
}
svg {
    position: relative;

}
#gravitas {
    fill: none;
    stroke: white;
    stroke-dasharray: 7% 28%;
    stroke-width: 3px;
    -webkit-animation: stroke-offset 15s forwards;
    animation: stroke-offset 7s  forwards;
}
#gravitas:nth-child(1) {
    stroke: #9714c1;
    stroke-dashoffset: 7%;
}
#gravitas:nth-child(2) {
    stroke: #ef4847;
    stroke-dashoffset: 14%;
}
#gravitas:nth-child(3) {
    stroke: #E7D84B;
    stroke-dashoffset: 21%;
}
#gravitas:nth-child(4) {
    stroke: #f44336;
    stroke-dashoffset: 28%;
}
#gravitas:nth-child(5) {
    stroke: #197d8d;
    stroke-dashoffset: 35%;
}
#reduce {
    fill: none;
    stroke: white;
    stroke-dasharray: 7% 28%;
    stroke-width: 3px;
    -webkit-animation: stroke-offset 15s forwards;
    animation: stroke-offset 7s  forwards;
    animation-delay: 2s;
}
#reduce:nth-child(1) {
    stroke: #8aff78;
    stroke-dashoffset: 7%;
}
#reduce:nth-child(2) {
    stroke: #89ff1a;
    stroke-dashoffset: 14%;
}
#reduce:nth-child(3) {
    stroke: #18ff2d;
    stroke-dashoffset: 21%;
}
#reduce:nth-child(4) {
    stroke: #99ff65;
    stroke-dashoffset: 28%;
}
#reduce:nth-child(5) {
    stroke: #4eff91;
    stroke-dashoffset: 35%;
}
#water {
    fill: none;
    stroke: white;
    stroke-dasharray: 7% 28%;
    stroke-width: 3px;
    -webkit-animation: stroke-offset 15s forwards;
    animation: stroke-offset 7s  forwards;
    animation-delay: 4s;
}
#water:nth-child(1) {
    stroke:#72A6E0;
    stroke-dashoffset: 7%;
}
#water:nth-child(2) {
    stroke: #7fb2e0;
    stroke-dashoffset: 14%;
}
#water:nth-child(3) {
    stroke: #1aa7f4;
    stroke-dashoffset: 21%;
}
#water:nth-child(4) {
    stroke: #23e0c4;
    stroke-dashoffset: 28%;
}
#water:nth-child(5) {
    stroke: #94bdff;
    stroke-dashoffset: 35%;
}
#energy {
    fill: none;
    stroke: white;
    stroke-dasharray: 7% 28%;
    stroke-width: 3px;
    -webkit-animation: stroke-offset 15s forwards;
    animation: stroke-offset 7s  forwards;
    animation-delay: 8s;
}
#energy:nth-child(1) {
    stroke: #fe7e46;
    stroke-dashoffset: 7%;
}
#energy:nth-child(2) {
    stroke: #e7754d;
    stroke-dashoffset: 14%;
}
#energy:nth-child(3) {
    stroke: #e76b1c;
    stroke-dashoffset: 21%;
}
#energy:nth-child(4) {
    stroke: #fd5812;
    stroke-dashoffset: 28%;
}
#energy:nth-child(5) {
    stroke: #e76b1c;
    stroke-dashoffset: 35%;
}
@-webkit-keyframes stroke-offset {
    50% {
        stroke-dashoffset: 35%;
        stroke-dasharray: 0 87.5%;
    }
}

@keyframes stroke-offset {
    50% {
        stroke-dashoffset: 35%;
        stroke-dasharray: 0 87.5%;
    }
}
.heading1
{
    margin-top: 500px;
    font-family: papyrus;
    padding: 40px;
    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 0px;
}
#events1{
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    text-align: center;
    color: white;

}
#events h1{
    position: relative;
    visibility: visible;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}
.category h1{
    position: relative;
    visibility: visible;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}
.card .small{
    height: 150px;
    cursor: pointer;
}
#category .card{
    text-align: left;
}
p{
    font-size: medium;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.club{
    color: #737373;
}
.card-image{
    z-index: 0;
}
.card{
    z-index: 0;
}
.back
{
    font-size: x-large;
    text-align: left;
    margin-left: 10px;
    left:0;
    color: white;
    font-weight: 300;
    position: absolute;
    margin-top: 3%;
}
canvas{
    z-index: -10;
    position:fixed;
    top: 0;
    background-repeat: repeat-y;
}
.img-container{
    position: relative;
}
.img-container img{
    position: relative;
    width: 100%;
    height: 100%;
}
#home1{
    position: relative;

}


#s-text
{
    font: 16em/1 Arial;
}

#g-text{
    font: 16em/1 Roboto;
}
#water-text{
    font: 16em/1 Roboto;
}
#energy-text{
    font: 16em/1 Roboto;
}
.graphics{
    position: fixed;
    width: 100%;
    height: 55%;
    background-color: #3f51b5;
    z-index: 0;
}
nav
{
    background-color: #3f51b5;
    z-index: 10;
}
.material-card{
    z-index: 0;
    margin-top: 50px;
}
.material-card h2{
    font-size: large;
}
#back
{
    margin-left: 20px;
}
.animateblock
{
    opacity: 0;
    transition: all 0.55s linear;
}
.animateblock .animated
{
    opacity:1;
}
.brand-logo{
    position: absolute;

    z-index: 0;
    margin-top: 0px;
    margin-left:5px;
}

.brand-logo img{
    width: 130px;
    height: 50px;
    margin-top: 5px;

}
#vit img{
    height: 45px;
    width: 120px;
    margin-top: 5px;
}
article {
    z-index: 10;
}
hr{
    margin-top: 0;
    margin-bottom: 0;
}
.gravitas
{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 1em 0 2.5em;

}
.gravitas-section
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: -webkit-grab;
    -webkit-transform: rotateY(0);
    white-space: nowrap;
}

.gallery-pagination {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.gallery-pagination-dot {
    background: #d1d1d1;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: none;
    margin: 0 7px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.gallery-pagination-dot-selected {
    background: #3f51b5;
}
.filters
{
    width: 0;
    height:0;
}
img.circle{
    max-width: 164px;
    height: 144px;
}
#team{
    align-content: center;
    text-align: center;
}
.social img.responsive-img{
    width:60px;
    height: 60px;
}
#registermodal{
    height: 100%;
}
iframe{
    position: relative;
    height: 300px
}
.modal h4,h5{
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.cd-stretchy-nav {
    position: relative;
    z-index: 2;
    top: 0;
    right: 5%;
}
.cd-stretchy-nav .stretchy-nav-bg {
    /* this is the stretching navigation background */
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 50px;
    border-radius: 0;
    background: #3f51b5;
    box-shadow: 0 0 0 #3f51b5;
    transition: height 0.2s, box-shadow 0.2s;
}
.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
    height: 100%;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}
.cd-stretchy-nav ul {
    position: relative;
    z-index: 2;
    visibility: hidden;
    transition: visibility 0.3s;
}
.cd-stretchy-nav ul a {
    position: relative;
}
.cd-stretchy-nav ul a::after {
    /* navigation item icons */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    transform: translateY(-50%) scale(0);
    opacity: .6;
    background: url(/images/home.png) no-repeat 0 0;
}
.cd-stretchy-nav ul span {
    /* navigation item labels */
    display: block;
    opacity: 0;
    transform: translateX(-25px);
}

.cd-stretchy-nav.nav-is-visible ul {
    visibility: visible;
}
.cd-stretchy-nav.nav-is-visible ul a::after {
    /* navigation item icons */
    transform: translateY(-50%) scale(1);
    animation: scaleIn 0.15s backwards;
}
.cd-stretchy-nav.nav-is-visible ul span {
    opacity: 1;
    transform: translateX(0);
    animation: slideIn 0.15s backwards;
}

.cd-stretchy-nav.nav-is-visible ul li:first-of-type a::after,
.cd-stretchy-nav.nav-is-visible ul li:first-of-type span {
    animation-delay: 0.05s;
}
/* animation delay for other children here ...*/

@keyframes scaleIn {
    from {
        transform: translateY(-50%) scale(0);
    }
    to {
        transform: translateY(-50%) scale(1);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-25px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.cd-stretchy-nav.edit-content ul span {
    position: absolute;
    top: 0;
    right: 35px;
    height: 30px;
    line-height: 30px;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.55);
    transition: opacity 0.2s, visibility 0.2s;
}
.cd-stretchy-nav.edit-content ul span::after {
    /* triangle below the tooltip */
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-left-color: rgba(0, 0, 0, 0.55);
}

.no-touch .cd-stretchy-nav.edit-content.nav-is-visible ul a:hover span {
    opacity: 1;
    visibility: visible;
}
footer{
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}
footer img
{
    width: 80px;
    height: 40px;
}
footer.page-footer {
    margin-top: 0;
    padding-top: 0;
    background-color: #3f51b5;
}
@media screen and (min-width: 600px){
    .large-visible{
        display: block;
    }
    .large-not-visible{
        display:none;
    }
    #vit{
        display:block;
    }
    #gravitas-logo{
        left: 0;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    .cards
    {
        position: relative;
        width: 40%;
        height: 10%;
        padding-left: 50px;
        padding-right: 50px;
        display: inline-block;
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    .card-gravitas{
        margin:0;
        position: relative;
        border-radius: 1%;
        background-color: #ffffff;
        width:100%;
        padding-top:3%;
        height: 10%;
        margin-top: 3%;
        margin-left: 0%;
        -webkit-transform: rotateY(0);
        transform: rotateY(0);

    }

}
@media screen and (max-width: 599px)
{
    .large-visible{
        display: none;
    }
    .large-not-visible{
        display: block;
    }
    #vit{
        display: none;
    }
    #gravitas-logo{
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .cards
    {
        position: relative;
        width: 90%;
        height: 10%;
        padding-left: 50px;
        padding-right: 50px;
        display: inline-block;
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    .card-gravitas{
        margin:0;
        position: relative;
        border-radius: 1%;
        background-color: #ffffff;
        width:100%;
        padding-top:3%;
        height: 10%;
        min-height: 230px;
        margin-top: 3%;
        margin-left: 0%;
        -webkit-transform: rotateY(0);
        transform: rotateY(0);

    }
}

li .modal-trigger{
    padding-left: 0;
}
li .modal-trigger p{
    margin-top: 0;
    height: inherit;
}
li .modal-trigger img {
    margin-top: 18px;
    margin-right: 5px;
    margin-left: 20px;
    float: left;
    width: 30px;
    height: 30px;
    vertical-align: baseline;
}

li a h5{
    vertical-align: middle;
    position: absolute;
    margin-top: 10%;
    font-weight: 500;
    font-size: large;
}
.waves-effect{
    display: block;
}
.waves-effect.waves-teal .waves-ripple {
     background-color: rgba(63, 81, 181, 0.70);
 }

.close
{
    color: #000000;
    float: right;
    font-size: 18px;
    width: 20px;
    font-weight: bold;
    margin-top: -1%;
    cursor: pointer;
}
