html{
    font-family: Material-Design-Icons;
}

.side-nav
{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.53);
    left: 0;
    width: auto;
    color: rgba(0, 0, 0, 1);
    z-index: 200;
}
.side-nav li{
    padding: 7px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    z-index: 0;
}
.side-nav a{
    padding: 7px;
}
hr{
    height: 3px;

    border: none;
}

li
{
    padding: 0;
    height: 80px;
    left: 0;
    align-content: center;
    border-left: 0 solid rgba(0, 0, 0, 0);
}
li > a{
    padding: 0;
    align-content: center;
}
li > a > img
{

    padding: 0;

}
nav> ul.side-nav > li:hover{
    background-color: #2b2b2b;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    z-index: -10;

}

.row{
    margin-bottom: 0;
}
#main{
    position: relative;
}
@media only screen and  (min-width: 993px){
    #main{
        left:0;
    }
}
@media only screen and (min-width: 600px){
    #main{
        left: 40px;
    }
}
@media only screen and (max-width: 600px){
    #main{
        left: 70px;
    }
    .small{
        max-width: 80%;
    }
}
