@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    background-color: #006151;
    background-image: url(https://www.transparenttextures.com/patterns/back-pattern.png);
    margin-top: -10px;
}

.row {
    margin-left:0px;
    margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}
#gal
{
padding-top: 39px;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
#myNavbar
{
 padding-left: 29%;
}

/* Custom page CSS
-------------------------------------------------- */
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}
#myCarousel
{
    padding-top: 0px;
}
/* Declare heights because of positioning of img element */
#myCarousel  .item {
    height: 600px;
    min-width: 100%;
    margin: 0px;
}
#myCarousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
}

.container-fluid
{
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right:0;
}
.navbar-inverse{
    color: #f5f5f5;
}
.navbar>ul{
    left: 20%;
}


#wrap > .container {
    padding: 60px 15px 0;
}
.container .credit {
    margin: 20px 0;
}

#footer {
    background-color: rgba(102, 102, 102, 0.9);
}

#footer a {
    color:#efefef;
}
a.fancybox img {
    border: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.6);
    -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
}
a.fancybox:hover img {
    position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
}
header {
    background: #333;
    color:#555;
}
#nav
{
    background-color: rgba(238, 248, 251, 0.74);
    color: #141414;
    padding-left: 30%;

}
#all
{
    padding-right: 55px;
}
#previous
{
    padding-right: 55px;
}
#events
{
    padding-right: 55px;
}
#organisers
{
    padding-right: 55px;
}
header .dropdown-menu {
    top:74px;
    background: #ffcc33;
    border-width:0;
}
.navbar-collapse li a.active{
    background-color: black;
}
.navbar-inverse .navbar-nav>li>a:active
{
    color: black;
}
h1 {
    font-size:50px;
}

.logo {
    font-size:40px;
    position:absolute;
    z-index:1200;
    color: #ffffff;
    top:70px;
    text-align:center;
    width:100%;
    text-shadow: 0px 7px 7px rgba(158, 158, 158, 0.69);
}

/*#nav {
    width: 100%;
    position:static;
    top:-32px;
    background-color: transparent;
}
*/
#nav.affix {
    position: fixed;
    top: 0;
    z-index:10;
    -webkit-transition: all .6s ease-in-out;
}
img
{
    width: 270px;
    height: 200px;
}
.col-sm-3
{
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#nav .active{
    background-color: #222222;
    color: #ffffff;
}
#footer > .container {

}

@media (min-width: 767px) {
    .navbar-nav.navbar-inverse > li{
        float:none;
    }
}

.navbar-nav {
    margin: 1px 1px;
}

/* customize nav style */
.navbar-inverse{
    background-color: rgba(46, 46, 46, 0.29);
    font-weight:700;
    text-transform:uppercase;
    border-width:0;
    box-shadow: 0 0 5px rgba(136, 134, 134, 0.54);
}

.navbar-inverse  .navbar-nav>li>a {
    color: #9c9c9c;
    padding:auto 10% ;
}
a .active
{
    color: rgba(63, 63, 63, 0.8);
}
.navbar-inverse  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-inverse .navbar-nav .active a  {
    background-color: rgba(0, 0, 0, 0.85);

}
.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-top-color: #999;
    border-bottom-color: #999;
}
.nav .navbar-inverse .navbar-nav > li > a:active{
    color: black;
}
.nav .navbar-inverse .navbar-nav > li > a:visited{
    color: black;
}



.navbar-toggle {
    outline:0;
}

.divider {
    height:50px;
}

.panel {
    border-width:0;
}

@media (max-width: 768px) {
    header {

    }
}

#map-canvas {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 15px;
}

.scroll-top {
    position:fixed;
    bottom:0;
    right:6%;
    z-index:100;
    background: #f2f3f2;
    font-size:24px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
    color:#222;
}


section {
    color: #ffffff;
    min-height: 400px;
    height: auto !important;
    height: 100%;
    padding-top:100px;
}

.bg-1 {
    background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-2 {
    background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-3 {
    background: url('http://www.bootply.com/assets/example/bg_blueplane.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-4 {
    padding-top:30px;
    background-color: rgba(171, 173, 171, 0.5);
}

.panel .img-responsive {
    min-height:270px;
    max-height:270px;
}